@keyframes backgroundScroll {
	from {background-position: 0 0;}  
	to {background-position: -4000px 0;}  
}

.eye_catcher-html u {animation:jtter 200ms linear infinite; text-decoration: none; display: inline-block;}

@keyframes jtter { 
	50%{transform:skewY(0.9deg) skewX(-0.9deg) scale(1.012);} 
}


// INVALID INPUT
@keyframes invalid-input {
	0% {
		box-shadow: inset 0px 0px 0px 2px rgba(241,91,38,1);
	}
	20% {
		box-shadow: inset 0px 0px 0px 1px rgba(241,91,38,1);
	}
	40% {
		box-shadow: inset 0px 0px 0px 2px rgba(241,91,38,1);
	}
	60% {
		box-shadow: inset 0px 0px 0px 0px rgba(241,91,38,1);
	}
	100% {
		box-shadow: inset 0px 0px 0px 2px rgba(241,91,38,1);
	}
}

// TITLE LINES
@keyframes move-short {

	100% {
		width: 140px;
		margin-right: 0;
	}

}
@keyframes move {

	100% {
		width: 0;
	}
}

// HEADER LINES
@-webkit-keyframes primary-long {
	0% { width: 100%; }
	50% { width: 55%; }
	100% { width: 80%; }
}
@keyframes primary-short {
	0% { width: 0; }
	50% { width: 40%; }
	100% { width: 15%; }
}

// OVERLAY SEARCH ANIMATION
@keyframes menu-animation {
	0% {
		opacity: 0;
		-webkit-transform: scale(0.04) translateY(300%);
		transform: scale(0.04) translateY(300%);
	}
	40% {
		-webkit-transform: scale(0.04) translateY(0);
		transform: scale(0.04) translateY(0);
		-webkit-transition: ease-out;
		transition: ease-out;
	}
	40% {
		-webkit-transform: scale(0.04) translateY(0);
		transform: scale(0.04) translateY(0);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale(0.02) translateY(0px);
		transform: scale(0.02) translateY(0px);
	}
	61% {
		-webkit-transform: scale(0.04);
		transform: scale(0.04);
	}
	99.9% {
		height: 0;
		padding-bottom: 100%;
		-webkit-border-radius: 100%;
		border-radius: 100%;
	}
	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		height: 100%;
		padding-bottom: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
}

.author-info {transition: all .3s linear;}

// анимация пропадающих кнопочек с попапами
a.btn {transform: scale(1); &.hideIt {transform: scale(0);}}
.price-popup {transform-origin: bottom center;}


// aгимация ссылок при наведении
.job-info ul li a,
.author-footer li.workplace a,
.author-footer > li > a,
.lesson-item a {
	position: relative; @extend %inline-box;

	&:after {
		content: '';
		position: absolute; left: 100%; right: 0;
		border-bottom: 2px solid #4cc2c0;
		top: 100%;
		transition: all 0.4s;
	}

	&:hover:after {left: 0;}
}
.job-info ul li a:after {border-bottom: 2px solid #2f2c2c;}
.lesson-item a {
	display: inline-block !important;

	&:after {left: 0; right: 100%;}
	&:hover:after {right: 0;}
}


// анимация на табах
.description-tab_control li a {display: inline-block;}
.description-tab_control li a:before {top: 0; left: 50%; right: 50%; transition: all .9s; max-width: 60%; margin: 0 auto;}
.description-tab_control li.active a:before {left: 0; right: 0;}


// анимация пропадающих кнопочек с попапами
// a.btn {
// 	transform: scale(1); &.hideIt {transform: scale(0);}
// 	& + .popup {display: block; overflow: hidden; transition: all .3s ease-in;}

// 	.author-info & {& + .popup {height: 0; padding-top:0; transform: translateY(0); &.active {height: 415px; padding-top:60px; transform: translateY(-80px);}}}
// 	.price-item & {& + .popup {transform: translateX(-50%) scale(0); &.active {transform: translateX(-50%) scale(1);}}}
// }

// a.close {
// 	transition: all .3s ease-in;
// 	transform: scale(0);

// 	.active & {transform: scale(1);}
// }


// анимация секций SVG-попапа
.popup.svg .popup-body > div section {
	transform-origin: center center 0px; 
	transition: all 0.2s cubic-bezier(0.645,0.045,0.355,1.000) 0s;

	// transform: matrix3d(1.04,-0.09,0.11,-0.0002,0.09,0.98,0.22,0.0002,-0.11,-0.22,1,0,-3,-4,9,1);
}


// анимация для плиток преимуществ
.it_education-advantages section {
	transition: all 0.3s;
	transform: scale(1); opacity: 1;
	box-shadow: none;

	&.hideMe {transform: scale(0.9); opacity: 0.6; box-shadow: none;}
	&.showMe {transform: scale(1.1); opacity: 1; box-shadow: 0 14px 32px 10px rgba(0, 0, 0, 0.1);}
}

.faq-questions li {
	transition: all 0.3s;
	transform: scale(1); opacity: 1;
	box-shadow: none;

	&.hideMe {transform: scale(0.95); opacity: 0.6; box-shadow: none;}
	&.showMe {transform: scale(1.05); opacity: 1; box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.02); background: #4cc2c0; a span, p {color: #fff;}}
	
	&.showMe,
	&.hideMe {
		&:after {
			background-color: #ffffff;
		}
	}

	&.active {
		&.showMe {
			a span {color: #ffffff;}
		}
	}
}


form {
	transition: all .3s;

	*, .btn, button {
		transition: all .6s linear;
	}

	.sent-letter {
		transition: transform .3s linear; transition-delay: .6s;
		width: 100px; height: 100px; display: block;position: absolute; left: 50%; top: 50%; transform-origin: 0% 0%; transform: scale(0) translate(-50%,-50%);
		background: #3cb879 url('../img/ok.png') center center no-repeat; background-size: 50%; border-radius: 50%; overflow: hidden; opacity: 1;

		img {
			width: 150px; max-width: 150px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);
			transition: opacity .3s linear;
		}
	}

	h4.verify_email {opacity: 0; visibility: hidden; position: absolute; top: 18px; left: 122px; font-size: 24px; transition: all .4s linear; transition-delay: 5s;}

	.sale-btn {
		transform-origin: 0 0; transform: scale(0) translate(-50%, -50%) !important; visibility: hidden; opacity: 0; position: absolute !important; top: 50%; left: 50%; display: block !important;
		transition: transform .6s linear 5s, background .6s linear 0s;
		border: none !important;

		.price-item-2 & {
			transform: scale(0) translate(-50%, 50%) !important;
		}

		.price-item-1 & {
			position: relative !important; top: 0; left: 0;
			transform: scale(1) translate(0, 0) !important; visibility: visible; opacity: 1;

			label {
				&.checkbox-block {
					position: relative; top: 7px; float: none;
				}
			}
		}
	}

	&.sended {
		>.row, >div, >input, >textarea {
			opacity: 0;
			visibility: hidden;
		}

		>.btn, >button {
			transform:scale(0);
		}

		.sent-letter {
			transform: scale(1) translate(-50%,-50%); opacity: 1; display: block; visibility: visible;
			img {
				opacity: 0;transition-delay: 4.2s;
			}

			.order-education & {
				transform: scale(1) translate(-250%, -50%); animation: movingSentLetterLeft 4s .6s linear 1;
			}

			.price-item-2 & {
				transform: scale(1) translate(-50%, -115%); animation: movingSentLetterTop 4s .6s linear 1;
			}

			.description-author & {
				transform: scale(1) translate(0, -50%);
				left: 150px;
			}

			.subscribe-item & {
				transform: scale(1) translate(0, -50%);
				left: 55px;
			}
		}

		h4.verify_email {opacity: 1; visibility: visible;}

		.sale-btn {
			transform: scale(1) translate(-50%, -50%) !important; visibility: visible; opacity: 1;
			transition: transform .4s ease-out 4.6s, background .3s linear 0s;

			.btn {
				transform: scale(1); margin-bottom: 15px;
			}

			.price-item-2 & {
				transform: scale(1) translate(-50%, 15%) !important;
			}
		}
	}
}


.check_me {
	text-align: left; top: 0; margin-bottom: 40px; padding-left: 40px; position: relative;

	input {
		display: none;
	}
	label {
		font-size: 14px !important; line-height: 24px;
		margin: 0 0 0 10px;

		&.checkbox-block {
			display: inline-block; margin: 0; height: 24px; width: 46px; position: relative; float: left; overflow: hidden; transition: all .6s ease;
			background: #ff0000; border-radius: 12px; box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
			cursor: pointer;

			span {
				display: block; position: absolute; top: 2px; left: 2px; width: 20px; height: 20px; transition: all .6s ease;
				background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);; border-radius: 50%;
			}
		}

		a {
			text-decoration: underline;

			&:hover {text-decoration: none;}
		}
	}
	input:checked~label {
		&.checkbox-block {
			background: #3cb879;
			span {
				left: 24px;
			}
		}
	}
}



@keyframes movingSentLetterLeft {
	0% {transform: scale(0) translate(-50%, -50%);}
	10% {transform: scale(1) translate(-50%, -50%);}
	90% {transform: scale(1) translate(-50%, -50%);}
	100% {transform: scale(1) translate(-250%, -50%);}
}
@keyframes movingSentLetterTop {
	0% {transform: scale(0) translate(-50%, -50%);}
	10% {transform: scale(1) translate(-50%, -50%);}
	90% {transform: scale(1) translate(-50%, -50%);}
	100% {transform: scale(1) translate(-50%, -150%);}
}


.offer-learn_html {

	.eye_catcher-html {
		h1 {
			span {
				opacity: 0; top: -20px;
			}
			b {
				opacity: 0;
			}
			em {
				opacity: 0;
			}
		}
		h2 {
			em {opacity: 0;}
			span {opacity: 0;}
			strong {opacity: 0;}
		}
		img {
			transform: scale(0);
		}
	}

	.decor {
		.lead {
			&:first-child,
			&:last-child {
				transform: scale(0); transform-origin: 50% 50%;
			}
		}
	}

	&.animatedOffer {
		.eye_catcher-html {
			h1 {
				span {
					opacity: 1; top: 0; transition: all .5s linear .1s;
				}
				b {
					opacity: 1; transition: all .5s linear .5s;
				}
				em {
					opacity: 1; transition: all .5s linear 1s;
				}
			}
			h2 {
				em {opacity: 1; transition: all .5s linear 2.2s;}
				span {opacity: 1; transition: all .5s linear 2.4s;}
				strong {opacity: 1; transition: all .5s linear 2.6s;}
			}
			img {
				transform: scale(1); transform-origin: top center; transition: all .5s linear 2s;
			}
		}

		.decor {
			.lead {
				transform-origin: bottom center;

				&:first-child {
					transform: scale(1); transition: transform .5s linear 3.2s;
				}
				&:last-child {
					transform: scale(1); transition: transform .5s linear 3.5s;
				}
			}
		}
	}
}




.order-education {
	form div.row {transition: transform .3s;}
	form button.btn {transition: transform .3s;}
	form .sent-letter {z-index: 9; transition: transform .4s ease;}
	form .sent-letter img {transition: all .6s;}
	
	// section.buy_me {display: none; opacity: 0; transform: translateY(50px);}
	// form .sale-btn {display: none !important;}

	&.scaled {
		form {
			div.row {transform: scale(0); opacity: 0;}
			button.btn {transform: scale(0); opacity: 0;}
			.sale-btn {}
			.sent-letter {transform: scale(1) translate(-50%, -50%);}
		}
		
	}

	&.scaled_full {
		form {
			.sent-letter {
				img {opacity: 0;}
			}
		}
	}

	// &.big_show {
	// 	width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 9999;
	// 	background: url('../img/bg-buy_me.jpg') 0 0 repeat;

	// 	> div {display: none;}

	// 	section.buy_me {
	// 		display: block; opacity: 1; transform: translateY(0);

	// 		a.close {position: absolute; top: 20px; right: 20px; width: 50px; height: 50px; background: #fff; border-radius: 50%; display: block;}
	// 	}
	// }
}


// @keyframes scalingPopupItem {
// 	0% {transform: scale(0);}
// 	100% {transform: scale(1);}
// }

.modules-map-popup {

	&.roll {animation:super_hello1 1.6s linear;}
	&.ball {animation:super_hello2 1.6s linear;}
}

.modules-map {
	transition: all 1s;

	&.include-intensive .map-intensive {animation:hello .8s ease-out;}
	&.include-lvl_up .map-lvl_up {animation:hello .8s ease-out;}
	&.include-coaching .map-coaching {animation:hello .8s ease-out;}
}

@keyframes hello {
	0% {transform: translate(80%, -80%);}
	10% {transform: translate(80%, -80%);}
	100% {transform: translate(0, 0);}
}

@keyframes super_hello1 {
	0% {transform: translateY(0);}
	20% {transform: translateY(-40%);}
	80% {transform: translateY(-40%);}
	100% {transform: translateY(0);}
}

@keyframes super_hello2 {
	0% {transform: translateY(0);}
	20% {transform: translateY(-40%);}
	80% {transform: translateY(-40%);}
	100% {transform: translateY(0);}
}





