// header
.logo {
	color: #000000; font-size: 27px; font-family: $font-zz !important; text-transform: uppercase; letter-spacing: 0.2px; line-height: 1;  @extend %fixfont;
	padding: 10px 0 0 85px; margin-right: 82px; float: left; height: 52px;
	position: absolute; right: 0; top: -60px; z-index: 9;
	background: url('../img/logo-eye.png') 0 center no-repeat;

	&:hover {color: #000000;}


	@media all and (max-width: 768px) {float: none; margin: 0 auto; display: block; width: 240px;}

	em {font-size: 30px;}

	span {
		color: #ffffff; font-size: 10px; text-transform: uppercase; line-height: 1;
		display: block;
	}
}

.header {
	padding: 30px 0 0;

	nav {
		float: left; padding: 14px 0;

		@media all and (max-width: 768px) {
			padding: 0; width: 100%; float: none; display: block; margin-top: 30px; overflow: hidden;
		}

		.mobile-menu {
			text-align: center; text-decoration: none; outline: none;
			position: relative; display: none; margin: 0 auto; padding: 0; height: 46px;
			cursor: pointer;

			@media all and (max-width: 768px) {display: block;}

			p {
				color: #2f2c2c; font-size: 18px; text-transform: uppercase; font-weight: bold;
				position: relative; top: 2px; display: inline-block; margin-right: 15px; vertical-align: middle;
			}

			span {
				position: relative; display: inline-block; width: 34px; height: 34px; vertical-align: middle;
				pointer-events: none; transition: 0.1s;
				svg {
					position: absolute; top: -33px; left: -33px; transform: scale(0.1); transform-origin: 0 0;
					path {
						stroke: #2f2c2c; stroke-width: 30px; stroke-linecap: round;
						fill: transparent;
					}
				}
			}
		}

		.header-menu {
			float: left; margin: 0; padding: 0;

			@include respond-to(sm) {
				margin-top: 40px; width: 100%; float: none;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;

			}

			& > li {
				display: inline-block; padding: 0 13px 35px; position: relative;

				@include respond-to(md) {padding: 0 10px 35px;}
				@include respond-to(sm) {
					width: 100%; display: block; position: relative; padding: 0
				}

				&:first-child {
					a {
						@include respond-to(sm) {
							border-top: solid 1px #f0f0f0;
						}
					}
				}

				& > a {
					font-size: 17px;
					position: relative; margin-right: 3px;
					transition: all .3s ease;

					@include respond-to(sm) {
						width: 100%; padding: 12px 20px; display: block;
						border-bottom: solid 1px #f0f0f0;
					}

					&:before {
						content: '';
						display: block;
						width: 80%;
						height: 2px;
						background-color: #4cc2c0;
						position: absolute;
						right: 0;
						bottom: -10px;
						opacity: 0;
						transition: all .3s linear;

						@include respond-to(sm) {display: none;}
					}

					&:after {
						content: '';
						display: block;
						position: absolute;
						width: 15%;
						height: 2px;
						background-color: #4cc2c0;
						left: 0;
						bottom: -10px;
						opacity: 0;
						transition: all .3s linear;

						@include respond-to(sm) {display: none;}
					}

					&:hover {
						color: #4cc2c0;

						.indicator {
							color: #4cc2c0;
						}

						&:before,
						&:after {opacity: 1;}

						&:before {
							width: 80%;
							animation: primary-long .5s linear;
						}

						&:after {
							width: 15%;
							animation: primary-short .5s linear;
						}
					}

					.indicator {
						font-size: 14px; text-align: center; line-height: 53px;
						position: absolute; right: 0; top: 0; width: 60px; height: 100%; display: none;
						border-left: solid 1px #f0f0f0;
						transition: all .3s linear;

						@include respond-to(sm) {display: inline-block;}
					}
				}

				ul {
					position: absolute; z-index: 9999; left: -25px; top: 40px; margin-top: 0; min-width: 330px; padding: 20px 0 30px; display: none;
					background-color: #ffffff; border-radius: 5px; box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.16);
					list-style: none;

					@include respond-to(sm) {
						position: static; padding: 0;
						box-shadow: none; border-radius: 0; border-bottom: solid 1px #f0f0f0;
					}

					li {
						font-size: 12px;
						position: relative; width: 100%; clear: both; padding: 0; margin: 0;
						border: 0 none;

						&:first-child {padding: 10px 40px 0;}

						span {
							color: $dark; font-size: 24px; font-weight: 400; font-family: $font-zz; letter-spacing: 0.4px; line-height: 1.2;
							margin-bottom: 10px; display: block;
						}

						p {
							color: #ccc; font-size: 14px; line-height: 1.3; letter-spacing: 0.5px;
							margin: 0 0 .75em;
						}

						a {
							color: #acacac; font-size: 16px; font-weight: 400;
							position: relative; padding: 10px 40px 10px 40px;display: block;
							transition: all .4s ease-out;

							&:before {
								content: '';
								display: block; height: 100%; width: 3px; position: absolute; left: 0; top: 0;
								background-color: #4cc2c0;
								opacity: 0;
								transition: all .3s ease;
							}

							&:hover {
								color: #4cc2c0;

								&:before {opacity: 1; width: 3px; animation: none;}

								i {color: #4cc2c0;}
							}

							i {
								color: #e1e1e1; font-size: 24px; text-align: center;
								margin-right: 15px; margin-left: 0; vertical-align: middle;
								opacity: 1;
								transition: all .4s ease;
							}
						}
					}
				}
			}
		}
	}

	.header-search {
		float: right; padding: 14px 0;

		@include respond-to(md) {
			text-align: right;
			float: none;
		}
		@include respond-to(sm) {
			text-align: center;
		}

		li {
			position: relative; display: inline-block;

			&:first-child {
				a {
					i {
						color: #2f2c2c; font-size: 28px;
					}
					span {
						color: #fff; font-size: 10px; line-height: 14px; text-align: center;
						display: block; position: absolute; left: -6px; top: 4px; width: 16px; height: 16px;
						background-color: #4cc2c0; border: 1px solid transparent; border-radius: 50%;
					}
				}
			}

			&:last-child {
				a {
					margin-left: 10px;
					i {
						color: #e1e1e1; font-size: 26px;
						position: relative;
						transition: all .3s ease;
					}

					&:hover {
						i {
							color: #4cc2c0;
						}
					}
				}
			}

			.popup-search {
				position: absolute; top: 38px; right: -20px; left: auto; width: auto; min-width: 430px; max-width: 700px; padding: 40px 30px 10px 30px; z-index: 1; /* display: none; */
				background-color: #fff; border-radius: 5px; box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.16);

				@include respond-to(sm) {
					width: 400px; min-width: auto; max-width: 400px; right: -2px; transform: translateX(50%);
				}
				@include respond-to(xs) {
					width: 300px;
				}
				form {
					position: relative;

					input {
						color: #acacac; font-size: 16px; line-height: 1.5; letter-spacing: 0.4px;
						padding: 20px 40px; margin-bottom: 30px;
						background-color: #f7f9f9; border-radius: 50px;
						transition: all .3s ease;

						@include respond-to(xs) {
							width: 180px; margin-right: 60px; padding: 20px 25px;
							border-radius: 50px 0 0 50px;
						}

						&:focus {
							outline: none;
						}

						&::-webkit-input-placeholder,
						&::-moz-placeholder,
						&:-moz-placeholder,
						&:-ms-input-placeholder {
							text-overflow:ellipsis;
						}
					}

					button {
						color: #fff; font-size: 15px; letter-spacing: 0.5px; text-transform: uppercase;
						display: inline-block; position: absolute; right: 0; top: 0; width: 60px; height: 64px; padding: 17px 5px;
						background-color: #2f2c2c; border-radius: 0 50px 50px 0;
						cursor: pointer;

						i {
							color: #f7f9f9; font-size: 26px;
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	.user-menu {
		position: absolute; right: 100px; bottom: -35px; width: 70px; height: 70px;
		border: 3px solid #2f2c2c; border-radius: 50%;

		@include respond-to(xs) {
			right: 35px;
		}

		.popup-cart-wrap {
			position: absolute; top: 39px; right: -50px; z-index: 1; width: 330px; padding: 40px; /* display: none; */
			background-color: #fff; border-radius: 5px; box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.16);

			@include respond-to(xs) {
				right: -20px; width: 290px;
			}

			p {
				color: #2f2c2c; font-size: 22px;
				margin-top: 20px; margin-bottom: 10px;
			}

			ul {
				margin-bottom: 20px;

				li {
					color: #acacac; font-size: 16px; line-height: 26px;

					@include respond-to(xs) {
						font-size: 14px; line-height: 22px;
					}
					i {
						margin: 0 10px 0 15px;
					}
				}
			}

			.user-menu-close {
				height: 70px; width: 70px; position: absolute; right: 47px; top: -42px; z-index: 35;
				border: 3px solid #2f2c2c; border-radius: 50%;

				@include respond-to(xs) {right: 17px;}
			}

			.btn {
				color: #ffffff; font-size: 16px; text-transform: capitalize; text-align: center;
				padding: 15px 0; width: 100%;
				background-color: #2f2c2c;
			}
		}

		.user-menu-content {
			position: relative; display: table-cell; vertical-align: middle; width: 64px; height: 64px;
			background-color: #f15b26; border: 4px solid #fff; border-radius: 50%;

			span {
				display: block; height: 3px; margin: 3px auto;
				background: #fff; border-radius: 10px;
				transition: all .3s ease;

				&:first-of-type {width: 25%;}
				&:nth-child(2) {width: 50%;}
				&:last-of-type {width: 40%;}
			}

			i {
				display: block; height: 3px; width: 50%; position: absolute; left: 25%; top: 50%; margin: auto;
				background: #fff none repeat scroll 0 0; border-radius: 10px;
				transition: all 0.3s ease 0s;

				&:first-child {transform: rotate(-45deg);}
				&:last-child {transform: rotate(45deg);}
			}
		}
	}
}

// overlay search
.overlay_search {
	position: fixed; top: -100%; left: 0; width: 100%; height: 100%; z-index: 100; transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 100%; height: 0; padding-bottom: 100%; transform: scale(0.04) translateY(9999px);
		background: rgba(37, 35, 35, 0.97); border-radius: 100%;
		overflow: hidden;
	}

	&.open {
		top: 0;

		&:before {
			animation: menu-animation 0.8s ease-out forwards;
		}

		form {
			opacity: 1; transform: translate3d(-50%, -100%, 0); transition: opacity 1s ease-out, -webkit-transform .5s ease-out;
			transition: transform .5s ease-out, opacity 1s ease-out;
			transition-delay: .5s;
		}
	}

	form {
		position: fixed; top: 50%; left: 50%; min-width: 1140px; transform: translate(-50%, -50%);
		opacity: 0;

		@include respond-to(lg) {min-width: 940px;}
		@include respond-to(md) {min-width: 720px;}
		@include respond-to(sm) {min-width: auto; width: 90%;}

		input {
			color: #707070; font-size: 24px;
			padding: 0 0 25px;
			background-color: transparent; border: none; border-bottom: 2px solid #707070; border-radius: 0;
			transition: all .3s ease;

			&:focus {
				color: #fff;
				border-bottom: 2px solid #4cc2c0;
				outline: none;
			}
		}

		a {
			display: block; width: 30px; height: 30px; position: absolute; right: -5px; top: 0;

			span {
				display: block; position: absolute; top: 50%; right: 0; height: 2px; width: 100%; margin: auto;
				background: #707070; border-radius: 10px;
				transition: all .3s ease;

				&:first-child {transform: rotate(-45deg);}
				&:last-child {transform: rotate(45deg);}
			}
		}
	}
}

// footer
.footer {
	padding-top: 110px;
	background: #151414;

	em {
		font-size: 10px;
		position: relative; top: -2px;
	}

	.about-us {
		@include respond-to(md) {
			margin-bottom: 30px;
		}

		p {
			color: #797676; font-size: 16px; line-height: 1.6; letter-spacing: 0.5px;
			margin: 0 0 .75em;

			a {
				color: #ffffff; font-size: 16px;
			}

			br {
				@include respond-to(lg) {display: none;}
			}

		}
	}

	.services {

		&:after {
			content: '';
			display: block; width: 100%;
			clear: both;
		}

		ul {
			line-height: 1.2;
			width: 50%;

			&:first-of-type {
				float: right;

				@include respond-to(md) {
					margin-bottom: 18px;
				}
				&:after {
					content: '';
					display: none; width: 200px;
					border-bottom: 2px solid #1c1b1b;
					@include respond-to(md) {
						display: block;
					}
				}
			}
			&:last-of-type {
				float: left;
			}


			&:first-of-type,
			&:last-of-type {
				@include respond-to(md) {
					float: none; width: 100%;
				}
			}

			li {
				font-size: 18px;
				margin-bottom: 18px;
				transition: all .3s ease;

				&:hover {
					i, a, span {
						color: #4cc2c0;
					}
					i {margin-left: 10px;}
				}

				i {
					color: #504c4c; font-size: 12px;
					float: left; margin-right: 15px; margin-top: 3px;
					transition: all .3s ease;
				}

				a {
					color: #504c4c; font-size: 14px;
					display: block;
					overflow: hidden;
					transition: all .3s ease;

					span {
						color: #504c4c; font-size: 16px;
						transition: all .3s ease;
					}
				}
			}
		}
	}

	.contacts {
		margin-top: 110px; padding: 40px 0;
		border-top: 2px solid #1c1b1b;

		&:after {
			content: '';
			display: block; width: 100%;
			clear: both;
		}

		.contacts-item {
			i {
				float: left; width: 70px; height: 70px; margin-right: 30px;

				@include respond-to(xs) {
					width: 55px; margin-right: 15px;
				}
			}

			address {
				margin-left: auto; margin-bottom: 0;
				overflow: hidden;

				a {
					color: #ffffff; font-size: 22px; line-height: 1.5;

					@include respond-to(xs) {font-size: 20px;}

					&:hover {color: #4cc2c0;}
				}

				p {
					color: #504c4c; font-size: 16px; line-height: 26px;
					-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;
					margin: 0 0 .75em;

					@include respond-to(xs) {
						font-size: 14px; line-height: 22px;
					}
				}
			}
		}
	}

	.sub-footer {
		padding: 60px 0;
		background: #121111;

		ul {
			li {
				color: #504c4c; font-size: 14px;
				display: inline-block; margin-right: 30px;

				@include respond-to(sm) {
					text-align: center;
					display: block; margin-bottom: 10px; margin-right: 0;
				}

				a {
					color: #797676;
					transition: all .3s ease;

					&:hover {color: #4cc2c0;}
				}
			}
		}
	}

	.back-to-top {
		float: right; display: block; position: relative; top: -4px; width: 50px; height: 50px; z-index: 999;
		transition: all .3s ease;
		fill: #222121; stroke: inherit;

		&:hover {
			fill: #4cc2c0;
		}
	}
}

.subscribe-item {
	padding: 80px 0;

	&:after {
		content: '';
		display: block; width: 100%; clear: both;
	}

	h4 {
		color: #fff; font-size: 30px;
		margin-bottom: 23px;
	}

	p {
		color: rgba(255, 255, 255, 0.6); font-size: 18px; line-height: 26px;
		-webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;
		float: left; margin: 0 0 .75em;

		@include respond-to(xs) {
			font-size: 14px; line-height: 22px;
		}
	}

	form {
		margin-bottom: 25px;

		input {
			color: #797676; font-size: 16px; line-height: 1.5;
			float: left; width: 67%; padding: 16px 40px;
			background-color: #fff; border-color: transparent; border-radius: 50px 0 0 50px;

			@include respond-to(xs) {
				width: 100%; float: none; display: block; margin-bottom: 15px;
				border-radius: 50px;
			}

			&:focus {
				box-shadow: 17px 0 60px #d3dcdc;
			}
		}

		button {
			color: #fff; font-size: 15px; text-transform: uppercase; text-align: center;
			display: inline-block; position: relative; height: 56px; width: 33%; padding: 17px 0;
			background-color: #2f2c2c; border-radius: 0 50px 50px 0;
			cursor: pointer;

			@include respond-to(lg) {
				padding-right: 10px;
			}
			@include respond-to(md) {
				padding-right: 0;
			}
			@include respond-to(xs) {
				width: 100%; display: block; margin-bottom: 15px;
				border-radius: 50px;
			}
		}
	}
}

// блок для отзывов
.testimonials {
	padding: 15px 15px 15px 100px; position: relative;

	&:after {
		content: '\e904';
		font-family: 'seosight' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		color: #f0f2f2; font-size: 90px;
		position: absolute; top: -20px; left: 0; bottom: auto; right: auto;
	}

	p {
		font-size: 24px; color: #2f2c2c; line-height: 1.5;
		margin-bottom: 25px; position: relative; z-index: 20;
	}

	footer {
		display: block;

		cite {
			text-align: left;
			position: relative; display: block;
			a {
				color: #4cc2c0; font-size: 18px;
			}
			span {
				color: #acacac; font-size: 16px;
			}
			a, span {
				font-style: normal; font-weight: 400; line-height: 1.5;
				display: block;
			}
		}
	}
	.quote {

	}

	&.static {
		padding: 50px 60px;
		background-color: #fff;

		&:before {
			content: "";
			position: absolute; bottom: 0; right: 0; display: block; width: 0;
			border-width: 40px 40px 0 0; border-style: solid; border-color: #f0f2f2 #f7f9f9 #f7f9f9 #f0f2f2;
		}

		&:after {
			color: #f7f9f9; font-size: 140px;
			position: absolute; bottom: 15px; right: 60px; left: auto; top: auto;
		}

		footer {
			display: table;

			figure {

				float: left; margin: 0 30px 0 0;
				img {

				}
			}

			cite {
				display: table-cell; vertical-align: middle;

				a {
					color: #2f2c2c;
					margin: 0; display: block;
				}
				span {
					color: #4cc2c0;
				}
				a, span {font-style: normal;}
			}
		}

		.quote {
			position: absolute; bottom: 15px; right: 60px;
			i {
				color: #f7f9f9; font-size: 140px;
			}
		}
	}
	&.venge {
		text-align: center;
		padding: 0;

		&:after {display: none;}

		p {
			color: #fff; font-size: 30px; line-height: 1.3;
			margin-bottom: 40px;

			@include respond-to(md) {
				font-size: 26px;
			}
			@include respond-to(sm) {
				font-size: 20px;
			}
			@include respond-to(xs) {
				font-size: 16px;
			}
		}

		figure {
			line-height: 112px; text-align: center;
			position: absolute; width: 119px; height: 112px; top: -230px; left: 50%; transform: translate(-50%, 50%);
			background-image: url(../img/avatar-bg.png);
		}

		footer {
			display: block;

			cite {
				text-align: center;
				position: relative; display: block;
				a {
					color: #fcb03b;
					margin-bottom: 5px; display: block;
				}
				span {
					color: #797676; font-size: 14px;
					display: block;
				}
			}
		}
	}
	&.lux {
		padding: 0;

		&:after {display: none;}

		p {
			color: #2f2c2c; font-size: 30px; line-height: 1.3; text-align: center;
			margin-bottom: 40px;
		}

		footer {
			text-align: center;
			display: flex; align-items: center; position: relative; justify-content: center;

			figure {
				margin-right: 30px; margin-bottom: 15px;
				border-radius: 100%; overflow: hidden;
			}

			cite {
				text-align: center;
				position: relative; display: inline-block;
				a {
					color: #4cc2c0;
					margin-bottom: 5px; display: block;
				}
				span {
					color: #797676; font-size: 14px;
					display: block;
				}
			}
		}
	}
	&.classic {
		padding: 0;

		&:after {display: none;}

		p {
			color: #2f2c2c; font-size: 30px; line-height: 1.3; text-align: center;
			margin-bottom: 40px;
		}

		footer {
			text-align: center;
			display: block; position: relative;

			figure {
				text-align: center;
				margin-right: 0; margin-bottom: 15px; display: block; float: none;
				border-radius: 100%; overflow: hidden;
				img {
					border-radius: 50%;
				}
			}

			cite {
				text-align: center;
				position: relative; display: inline-block;
				a {
					color: #4cc2c0;
					margin-bottom: 5px; display: block;
				}
				span {
					color: #797676; font-size: 14px;
					display: block;
				}
			}
		}
	}
	&.creative {
		padding: 0;

		&:after {display: none;}

		p {
			color: #fff; font-size: 24px; line-height: 26px;
			margin: 0 0 .75em;

			@include respond-to(sm) {
				font-size: 20px; line-height: 22px;
			}
			@include respond-to(xs) {
				font-size: 16px; line-height: 18px;
			}
		}

		figure {
			line-height: 112px; text-align: center;
			position: absolute; width: 119px; height: 112px; top: -100px; left: -140px;
			background-image: url(../img/avatar-bg.png);

			@include respond-to(sm) {
				left: -105px; top: -27px;
				background: none;
			}
			@include respond-to(xs) {display: none;}
		}

		footer {
			text-align: center;
			display: block;

			cite {
				position: relative; display: block;
				a {
					color: #fcd846;
					display: block;
				}
				span {
					color: #797676; font-size: 14px;
					display: block;
				}
				a, span {
					text-align: left;
					display: block;
				}
			}
		}
	}
}
.carousel {
	&-arrows {
		svg {
			display: block; position: absolute; width: 64px; height: 64px; z-index: 10;
			transition: all .2s ease-in;
			cursor: pointer;
			fill: #e1e1e1; stroke: inherit;

			&.btn-next,
			&.btn-prev {
				bottom: 150px;

				&:hover {color: #4cc2c0;}
			}
			&.btn-next {
				right: 95px;

				&:hover {margin-right: -2px;}
			}
			&.btn-prev {
				left: 95px;

				&:hover {margin-left: -2px;}
			}
		}
	}

	&-dots {
		li {
			display: inline-block; margin: 0 5px;
			a {
				display: inline-block; width: 15px; height: 15px; margin: 0;
				background: #2f2c2c; border-radius: 50%;
				cursor: pointer;
				transition: all .3s ease;
			}

			&.active {
				a {
					background-color: transparent; border: 2px solid #fff;
				}
			}
		}

		&.lux {
			li {
				a {
					background: #d7d7d7;
				}

				&.active {
					a {
						background-color: transparent; border: 2px solid #4cc2c0;
					}
				}
			}
		}
	}
}

// блок для нейтрального содержания
.content {
	h2 {}
	p {}

	&.author {

	}
}

// все формы на сайте тут
.forms {

	&.free {}
	&.start {}
	&.coaching {}
	&.subscribe {}
}

// социальные кнопки
.socials {
	li {
		display: inline-block; margin-left: 15px;

		&:first-child {margin-left: 0;}

		a {
			img {
				height: 24px;
			}
		}
	}
}

// детальки дизайна
.semicircle--right {
	display: block; position: absolute; top: 12px; right: 12px; width: 18px; height: 18px; overflow: hidden;

	&:after {
		content: '';
		display: block; position: absolute; right: 0; top: 0; width: 35px; height: 35px;
		border: 2px solid #fff; border-radius: 100%;
	}
}
.semicircle {
	display: block; position: absolute; top: 12px; left: 12px; width: 18px; height: 18px; overflow: hidden;

	&:after {
		content: '';
		display: block; position: absolute; left: 0; top: 0; width: 35px; height: 35px;
		border: 2px solid #fff; border-radius: 100%;
	}
}
.heading-line {
	font-size: 16px;
	position: relative; margin: 10px 0 30px 0;

	.short-line, .long-line {
		display: inline-block; position: relative; height: 3px; margin-right: 10px;
		background-color: #4cc2c0; border-radius: 10px;
		transition: all .4s linear;
	}
	.short-line {
		width: 30px;
	}
	.long-line {
		width: 100px;
	}

	hgroup:hover & {
		.short-line {
			width: 0;
			animation: move-short 1.5s infinite linear;
		}
		.long-line {
			width: 130px;
			animation: move 1.5s infinite linear;
		}
	}
}
.raiting {
	display: inline-block; margin-right: 20px; margin-bottom: 35px;
	li {
		display: inline-block;

		.fa-star {color: #fcd846;}
		.fa-star-o {color: #cccccc;}
	}
}



//faq
.faq {
	&-questions {
		margin-bottom: 80px;

		@include respond-to(md) {
			margin-bottom: 0;
		}
		li {
			position: relative; margin-bottom: 20px;
			background: #ffffff; border-radius: 50px;
			transition: all .3s ease;

			&:after {
				content: '';
				display: block; width: 1px; height: 35px; position: absolute; left: 70px; top: 50%; transform: translate(0, -50%);
				background-color: #cccccc;
				transition: all .3s ease;

				@include respond-to(sm) {
					left: 60px;
				}
			}

			&.active {
				&:after {
					height: 80%;
				}

				a {
					span {
						i {
							&:first-child {
								opacity: 0;
							}
						}
					}
				}

				.faq-answer {
					display: block;
				}
			}

			a {
				font-size: 17px;
				display: table; padding: 25px 30px; width: 100%;
				transition: all .3s ease;

				@include respond-to(xs) {
					padding: 25px 20px;
				}

				&:hover {
					span {
						&:first-child,
						&:last-child {
							color: #4cc2c0;
						}
					}
				}

				span {
					transition: all .3s ease;

					&:first-child {
						color: #cccccc; font-size: 20px;
						position: relative; padding-right: 30px; width: 60px; top: 2px;
						opacity: 1;
					}

					&:last-child {
						color: #2f2c2c; font-size: 17px;

						@include respond-to(sm) {
							padding-left: 10px;
						}
					}
				}
			}

			.faq-answer {
				color: #acacac; font-size: 15px; line-height: 1.3;
				padding: 10px 20px 30px 102px; margin-bottom: 5px; display: none;
				border-radius: 0 0 50px 50px;
				transition: all .3s ease;

				@include respond-to(sm) {
					font-size: 14px;
					padding: 10px 20px 30px 87px;
				}
			}
		}
	}

	&-items {
		margin-bottom: 80px;
		li {
			font-size: 18px; letter-spacing: 0.2px; line-height: 1.5; font-weight: 400; @extend %fixfont;
			position: relative; padding-left: 42px; margin-bottom: 20px;
			transition: all .3s ease;

			@include respond-to(sm) {
				font-size: 16px;
			}

			&:before {
				font-family: 'seosight' !important; font-size: 12px; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute; left: 0; top: 8px;
			}
		}

		&.true {
			@include respond-to(sm) {
				margin-bottom: 0;
			}

			li {
				color: #3cb878;

				&:before {
					content: "\e908";
					color: #3cb878;
				}
			}
		}
		&.false {
			li {
				color: #f15b26;

				&:before {
					content: "\e912";
					color: #f15b26;
				}
			}
		}
	}
}

// advantages
.advantage-items {
	text-align: center;
	position: relative; margin-top: 50px; margin-bottom: 40px; padding: 80px 35px 40px;
	background: #ffffff;

	@include respond-to(md) {
		padding: 80px 25px 40px;
	}
	@include respond-to(sm) {
		padding: 80px 40px 40px;
	}

	h4 {
		font-size: 24px; line-height: 1.1; text-transform: uppercase; letter-spacing: 0.8px;
		margin-bottom: 10px;
	}

	p {
		font-size: 16px; line-height: 1.5; letter-spacing: 0.2px;
		margin: 0 0 .75em;

		br {
			@include respond-to(sm) {display: none;}
		}
	}

	figure {
		position: absolute; top: 0; left: 50%; margin: 0; transform: translate(-50%, -50%); max-width: 175px;

		img {
			width: 100%;
		}
	}
}

// lessons
.lesson-item {
	position: relative; padding: 40px; margin-bottom: 30px;
	background: #f7f9f9;
	transition: all .3s ease;

	@include respond-to(lg) {padding: 35px;}
	@include respond-to(xs) {
		text-align: center;
	}

	&:hover {
		background: #2f2c2c;

		h5 {color: #ffffff;}
		a {color: #4cc2c0;}
	}

	figure {
		margin: 0 30px 30px 0; float: left;

		@include respond-to(lg) {
			width: 90px; margin: 0 30px 60px 0;
		}
		@include respond-to(xs) {
			width: 130px; float: none; margin: 0 auto 10px;
		}
	}

	h5 {
		font-size: 30px; line-height: 1.1; letter-spacing: 0.8px;
		margin-bottom: 15px;

		@include respond-to(lg) {
			font-size: 24px;
		}
	}

	p {
		font-size: 16px; line-height: 26px;
		margin-bottom: 25px;

		@include respond-to(lg) {
			font-size: 14px; line-height: 22px;
			margin-bottom: 15px; margin-right: 35px;
		}
		@include respond-to(md) {
			margin-right: 0;
		}
	}

	ul {
		margin-bottom: 25px;

		@include respond-to(lg) {margin-bottom: 15px;}
		li {
			color: #acacac; font-size: 16px; line-height: 26px;

			@include respond-to(lg) {
				font-size: 14px; line-height: 22px;
			}

			i {
				margin-right: 5px;

				@include respond-to(lg) {display: none;}
			}
		}
	}

	a {
		color: #ccc; font-size: 16px; @extend %fixfont;
		float: none; display: block; padding: 0; margin: 0;
		border-left: none;
		transition: all 0.15s linear;

		@include respond-to(xs) {text-align: center;}

		i {
			font-size: 12px;
			margin-left: 10px;
		}
	}
}

.counter-item {
	@include respond-to(md) {
		margin-bottom: 20px;
	}

	span {
		color: #fcb03b; font-family: $font-zz; font-size: 100px; line-height: 1;

		@include respond-to(sm) {font-size: 84px;}
	}

	p {
		color: #fff; font-size: 24px; line-height: 1.3; font-family: $font-bold; letter-spacing: -0.4px;
		margin: 0;
	}
}

// price
.price {
	&-table_wrap {
		margin: 0 15px;
		background-color: #fff; box-shadow: 0 14px 32px 10px rgba(0, 0, 0, 0.2); border-radius: 10px;
		overflow: hidden;
	}
	&-item {
		text-align: center;
		position: relative; padding: 60px;

		@include respond-to(lg) {
			padding: 60px 20px;
		}
		@include respond-to(md) {
			padding: 40px 20px;
			margin-bottom: 30px;
		}

		&:hover {
			> h5 {color: #4cc2c0;}
			> a.btn {background: #4cc2c0;}
		}

		// &:nth-child(1),
		// &:nth-child(2) {
		// 	&:after {
		// 		content: '';
		// 		display: block; width: 90%; margin: 0 auto; position: relative; top: 40px;
		// 		border-bottom: 2px solid #f9f9f9;
		// 	}
		// }

		figure {
			position: relative; width: 130px; height: 130px; margin: 0 auto 15px;
			border: 15px solid #f7f9f9; border-radius: 50%;

			img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
			&.fast {img {left: 55%;}}
		}

		h5 {
			font-size: 34px; line-height: 1.5;
			margin-bottom: 11px;
			transition: all .3s ease;
		}

		ul {
			margin-bottom: 21px;
			li {
				color: #acacac; font-size: 16px; line-height: 1.5; letter-spacing: 0.2px; @extend %fixfont;
				margin-bottom: 5px;

				&.gold {color: #fcb03b;}

				em {
					color: #2f2c2c; font-weight: 600;
					b, small {font-weight: inherit;}
				}
			}
		}

		p {
			color: #4cc2c0; font-size: 24px; line-height: 1.5;
			margin-bottom: 30px;
		}

		canvas {position: absolute; top: 0; left: 0; z-index: 8;}
		> figure,
		> h5,
		> ul li,
		> p,
		> a {position: relative; z-index: 9;}

		> a.btn {
			padding: 23px 31px;
			background: #2f2c2c;
		}

		.dots {
			position: absolute; right: -17px; top: 50%; transform: translateY(-50%);

			@include respond-to(sm) {display: none;}
		}


		&.flat {
			border-radius: 10px;
			box-shadow: 15px 0 80px rgba(0, 0, 0, 0.2);

			figure {border: none;}

			ul {
				li {
					color: #ffffff; font-size: 13px;
					&.gold {color: #2f2c2c; font-family: ArialRoundedMTProCyrBold,sans-serif; font-weight: 400; font-size: 18px;}
					em {color: #ffffff; font-family: ArialRoundedMTProCyrBold,sans-serif; font-weight: 400; font-size: 18px;}
					&.min {width: 20px; position: relative; left: 50%; transform: translateX(-50%);}
				}
			}

			p {color: #2f2c2c; -webkit-font-smoothing: subpixel-antialiased; -moz-osx-font-smoothing: auto;}

			a.btn {border: 2px solid #ffffff; display: block;}

			&:hover {
				> h5 {color: #2f2c2c;}
				> a.btn {background-color: #2f2c2c !important; border: 2px solid #2f2c2c;}
			}


			&:nth-child(1),
			&:nth-child(2) {
				&:after {display: none;}
			}

			&.blue {background-color: #4cc2c0; > a.btn {background-color: #4cc2c0;}}
			&.red {background-color: #f15b26; > a.btn {background-color: #f15b26;}}
			&.yellow {
				background-color: #fcb03b;

				> a.btn {background-color: #fcb03b;

					.semicircle:after {border-color: #fcb03b;}

					&.disabled{color: #fcb03b; background-color: #ffffff;}
				}
				&:hover .btn.disabled {background-color: #ffffff !important; border-color: #ffffff;}
			}
		}
	}
}
// job
.job {
	&-statistics {
		ul {
			margin-left: 50px;

			@include respond-to(md) {margin-bottom: 50px;}
			@include respond-to(xs) {margin-left: 0;}

			li {
				color: #acacac; font-size: 14px; line-height: 1.5;
				position: relative; margin-bottom: 20px; padding-left: 40px;

				&:before {
					content: '';
					display: inline-block; width: 20px; height: 20px; position: absolute; top: 0; left: 0;
					border-radius: 100%; border-color: transparent;
				}
				
				&:nth-child(1) {&:before {background: #4cc2c0;}}
				&:nth-child(2) {&:before {background: #f15b26;}}
				&:nth-child(3) {&:before {background: #fcb03b;}}
				&:nth-child(4) {&:before {background: #3cb878;}}

				b {
					color: #2f2c2c;
				}
			}
		}
	}
	&-info {
		p {
			color: #acacac; font-size: 18px; line-height: 26px; letter-spacing: 0.2px;
			margin: 0 0 80px;

			@include respond-to(md) {margin-bottom: 30px;}
			@include respond-to(xs) {
				font-size: 14px; line-height: 22px;
			}

			span {
				color: #2f2c2c; font-family: $font-bold; font-size: 18px; line-height: 26px; letter-spacing: 0.2px; @extend %fixfont;

				@include respond-to(xs) {
					font-size: 14px; line-height: 22px;
				}
			}

			em {
				font-size: 12px;
				position: relative; top: -2px;
			}
		}

		ul {
			padding-left: 100px;

			@include respond-to(sm) {
				padding-left: 0;
			}

			li {
				color: #acacac; font-size: 14px; line-height: 80px; @extend %fixfont;
				position: relative; margin-bottom: 40px; padding-left: 100px; height: 70px;

				@include respond-to(sm) {
					line-height: 1;
				}

				i {
					color: #4cc2c0; font-size: 70px;
					display: inline-block; position: absolute; left: 0; top: 0;
				}

				em {
					color: #2f2c2c; font-size: 30px; line-height: 1.5; letter-spacing: 0.2px;

					b {

					}
				}

				a {
					color: #2f2c2c; font-family: $font-bold; @extend %fixfont;
				}
			}
		}
	}
}

// author
.author {
	&-slider {
		text-align: center;
		position: relative; padding: 80px 100px 130px; margin-bottom: 30px;
		background-color: #f7f9f9; box-shadow: 0 25px 40px rgba(0, 0, 0, 0.3);

		@include respond-to(lg) {
			padding: 80px 60px 100px;
		}

		p {
			color: #ccc; font-size: 14px;
			position: absolute; left: 36px; top: 20px;
		}
	}
	&-info {
		padding-bottom: 40px; margin-bottom: 40px;
		border-bottom: 2px solid #f7f9f9;
		position: relative;
		z-index: 10;

		h3 {
			color: #f26522; font-size: 24px; line-height: 1.5; letter-spacing: 0.2px;
			margin-bottom: 15px;

			@include respond-to(xs) {
				font-size: 20px;
			}
		}

		h4 {
			color: #2f2c2c; font-size: 36px; line-height: 1.5; letter-spacing: 0.2px;
			position: relative; margin-bottom: 0;

			@include respond-to(xs) {
				font-size: 28px;
			}

			img {
				position:absolute; bottom:0; right:0; border-radius:50%; width:120px;
			}
		}

		p {
			color: #acacac; font-size: 18px; line-height: 26px;
			margin-bottom: 40px;

			@include respond-to(xs) {
				font-size: 14px; line-height: 22px;
			}
		}

		.raiting {
			@include respond-to(md) {margin: 0; display: block;}

			& + a {
				color: #4cc2c0; font-size: 16px;
				display: inline-block;

				@include respond-to(md) {
					display: block; margin-bottom: 30px;
				}
			}
		}

		a.btn {
			color: #ffffff; text-align: center;
			padding: 23px 31px;
			background-color: #4cc2c0;

			@include respond-to(sm) {width: 100%;}
			@include respond-to(xs) {font-size: 14px;}

			i {
				font-size: 18px;
				margin-left: 10px;

				@include respond-to(xs) {font-size: 16px;}
			}
		}
	}

	&-footer {

		li {
			color: #2f2c2c; font-size: 16px; line-height: 1.5; letter-spacing: 0.2px;
			margin-bottom: 15px;

			&.workplace {a {color: #4cc2c0;}}

			a {
				color: #acacac; font-size: 16px; line-height: 1.5; letter-spacing: 0.2px;
				transition: all 0.15s linear;

				&:hover {color: #4cc2c0;}
			}
			ul {
				display: inline-block;

				@include respond-to(md) {
					display: block; margin-top: 5px;
				}
				@include respond-to(sm) {
					display: inline-block; margin-top: 0px;
				}
				@include respond-to(xs) {
					display: block; margin-top: 5px;
				}

				li {
					display: inline-block; margin-left: 15px;

					&:first-child {
						@include respond-to(md) {
							margin-left: 0;
						}
						@include respond-to(sm) {
							margin-left: 15px;
						}
						@include respond-to(xs) {
							margin-left: 0;
						}
					}

					a {
						i {
							color: #d7d7d7; font-size: 20px;
							transition: all .3s ease;
						}

						&:hover {
							i {
								color: #08acee;
							}
						}
					}
				}
			}
		}
	}
}

// description
.description {
	&-tab_control {
		float: left; margin-top: -75px; margin-bottom: 80px;

		@include respond-to(sm) {
			margin-top: -92px;
		}
		@include respond-to(xs) {
			float: none; position: relative; top: -142px; margin: 0 0 -60px;
		}

		&:after {
			content: '';
			display: block; width: 100%; clear: both;
		}

		li {
			display: inline-block;

			@include respond-to(sm) {
				float: left; width: 50%;
			}
			@include respond-to(xs) {
				float: none; width: 100%; display: block;
			}

			a {
				font-size: 18px; text-align: center; text-transform: uppercase; line-height: 1.5;
				float: left; position: relative; padding: 25px 70px;
				background-color: #f1f3f3; border-right: 2px solid #e3e9e9; border-radius: 50px 0 0 0;

				@include respond-to(sm) {font-size: 14px;}
				@include respond-to(xs) {
					float: none; display: inline-block; width: 100%; padding: 25px 0;
					border-radius: 50px 50px 0 0; border-right: none;
				}

				&:hover {
					color: #4cc2c0;
				}

				&:before {
					content: '';
					position: absolute; display: block; height: 2px;
					background-color: #4cc2c0;
					opacity: 0;
				}
			}

			&.active {
				a {
					color: #4cc2c0;
					background-color: #f7f9f9;

					&:before {
						opacity: 1;
					}
				}
			}

			&:last-child {
				margin-left: -4px;

				@include respond-to(xs) {margin-left: 0;}

				a {
					border-radius: 0 50px 0 0; border-right: none;

					@include respond-to(xs) {border-radius: 0;}
				}
			}
		}
	}

	&-course {
		display: none;
		h3 {
			color: #2f2c2c; font-size: 40px; line-height: 1.5; letter-spacing: 0.2px;
			margin-bottom: 40px;

			@include respond-to(sm) {
				font-size: 32px;
				margin-bottom: 30px;
			}
			@include respond-to(xs) {
				font-size: 26px;
				margin-bottom: 15px;
			}
		}

		p {
			color: #acacac; font-size: 18px; line-height: 26px; letter-spacing: 0.2px;
			margin-bottom: 20px;

			@include respond-to(xs) {
				font-size: 16px; line-height: 24px;
			}

			span {
				color: #2f2c2c; font-family: $font-bold; font-size: 18px; line-height: 26px; letter-spacing: 0.2px;

				@include respond-to(xs) {
					font-size: 16px; line-height: 24px;
				}
			}
		}
	}

	&-author {

		h3 {
			color: #2f2c2c; font-size: 40px; line-height: 1.5; letter-spacing: 0.2px;
			margin-bottom: 40px;

			@include respond-to(sm) {font-size: 30px;}
			@include respond-to(xs) {font-size: 26px;}

			span {
				color: #4cc2c0; font-size: 40px; line-height: 1.5; letter-spacing: 0.2px;

				@include respond-to(sm) {font-size: 30px;}
				@include respond-to(xs) {font-size: 26px; display: block;}

				b {color: #2f2c2c;}
			}
		}

		ul.comments {
			margin-bottom: 50px;

			li {
				padding: 0 0 20px 100px; margin-bottom: 40px;
				position: relative;
				border-bottom: 2px solid #f1f3f3;

				@include respond-to(xs) {padding-left: 0;}

				figure {
					position: absolute; left: 0; top: 7px;

					@include respond-to(xs) {
						position: static; float: left; margin-right: 20px;
					}
				}
				ul.raiting {
					display: block; margin: 0 0 10px 0;
					li {
						font-size: 16px; line-height: 1.5; letter-spacing: 0.2px;
						padding: 0; margin: 0;
						border: none;
					}
				}

				a {
					display: inline-block; margin-bottom: 20px;
					transition: all 0.15s linear;

					@include respond-to(xs) {
						display: block; margin-bottom: 5px;
					}
					&.name {
						color: #2f2c2c; font-size: 18px;
						margin-right: 15px;
						@include respond-to(xs) {
							font-size: 16px;
							margin-right: 0;
						}
					}
					&.date {
						color: #ccc; font-size: 14px;
					}
				}

				p {
					color: #acacac; font-size: 18px; line-height: 26px; letter-spacing: 0.2px;
					margin: 0 0 20px 0;

					@include respond-to(xs) {font-size: 16px; line-height: 24px;}

					&:before {
						content: '';
						display: block; width: 100%; clear: both;
					}
				}
			}
		}

		h4 {
			color: #acacac; font-size: 16px; line-height: 1.5; letter-spacing: 0.2px; @extend %fixfont;
			display: inline-block; margin-left: 40px;

			@include respond-to(xs) {
				display: block; margin-left: 0;
			}
		}
		ul.raiting {
			display: inline-block; margin-left: 50px; margin-bottom: 30px;

			@include respond-to(xs) {
				display: block; margin-left: 0;
			}
		}

		form {
			margin-bottom: 20px;
			input {
				color: #acacac; font-size: 16px;
				padding: 20px 40px; margin-bottom: 30px;
				background: #ffffff; border-color: transparent; border-radius: 50px;
				transition: all .3s ease;

				&:focus {
					color: #4cc2c0;
					box-shadow: 17px 0 60px #d3dcdc;
					outline: none;
				}
			}

			textarea {
				color: #acacac; font-size: 16px;
				height: 100%; min-height: 230px; padding: 20px 40px; margin-bottom: 30px;
				background: #ffffff; border-color: transparent; border-radius: 50px;
				transition: all .3s ease;

				&:focus {
					color: #4cc2c0;
					box-shadow: 17px 0 60px #d3dcdc;
					outline: none;
				}
			}

			button {
				padding: 23px 31px;
				background-color: #4cc3c1;

				@include respond-to(sm) {
					width: 100%; padding: 23px 0;
				}
			}
		}

	}
}

// eye-catcher
.eye_catcher {
	&-html {
		padding-top: 20px;

		.img_new {
			position: absolute; left: 184px; top: 282px; width: 414px; z-index: 999;

			@include respond-to(md) {
				position: relative; top: 0; left: 0;
			}
		}

		@include respond-to(md) {text-align: center;}
		h1 {
			color: #2f2c2c; font-size: 48px; font-family: ArialRoundedMTProCyrBold,sans-serif; font-weight: 900; line-height: 1;
			position: relative; top: 20px; margin: 0;

			@include respond-to(lg) {top: 0;}
			@include respond-to(md) {text-align: center;}
			@include respond-to(xs) {font-size: 36px;}

			span {
				font-size: 72px; font-weight: 400;
				@include respond-to(xs) {font-size: 36px;}
			}
			b {
				font-size: 110px; font-weight: 900; font-family: ArialRoundedMTProCyrBold,sans-serif;
				@include respond-to(xs) {font-size: 36px;}
			}

			span, b, em, u {z-index: 999; position: relative;}
		}
		h2 {
			padding-left: 500px; position: relative; top: 15px;

			@include respond-to(md) {
				text-align: center;
				padding-left: 0;
			}

			i {
				font-size: 140px;
				position: relative; top: 0; left: 0;

				@include respond-to(lg) {font-size: 120px;}
			}
			em {
				font-size: 68px;
				position: relative; top: -60px; left: 7px;

				@include respond-to(lg) {
					font-size: 50px;
				}
				@include respond-to(xs) {
					font-size: 40px;
					top: 0; left: 0;
				}
			}
			span {
				color: #fff !important; font-size: 160px;

				@include respond-to(lg) {
					font-size: 140px;
				}
				@include respond-to(xs) {font-size: 100px;}
			}
			strong {
				color: #ffffff; font-size: 68px;

				@include respond-to(lg) {
					font-size: 56px;
				}
			}

			br {
				display: none;

				@include respond-to(xs) {display: block;}
			}
		}
	}
}

.tab-item {
	display: none;

	&:first-child {display: block;}
}




