// header
.header {
	padding: 30px 0 0;
	.logo {
		color: #2f2c2c; font-size: 27px; text-transform: uppercase; letter-spacing: 0.2px; line-height: 1;
		padding: 10px 0 0 85px; margin-right: 82px; float: left; height: 52px;
		background: url('../img/logo-eye.png') 0 center no-repeat;

		@media all and (max-width: 768px) {float: none; margin: 0 auto; display: block; width: 240px;}

		em {font-size: 30px;}

		span {
			color: #acacac; font-size: 10px; text-transform: uppercase; line-height: 1;
			display: block;
		}
	}
	nav {
		float: left; padding: 14px 0;

		@media all and (max-width: 768px) {
			padding: 0; width: 100%; float: none; display: block; margin-top: 30px; overflow: hidden;
		}

		.mobile-menu {
			text-align: center; text-decoration: none; outline: none;
			position: relative; display: none; margin: 0 auto; padding: 0; height: 46px;
			cursor: pointer;

			@media all and (max-width: 768px) {display: block;}

			p {
				color: #2f2c2c; font-size: 18px; text-transform: uppercase; font-weight: bold;
				position: relative; top: 2px; display: inline-block; margin-right: 15px; vertical-align: middle;
			}

			span {
				position: relative; display: inline-block; width: 34px; height: 34px; vertical-align: middle;
				pointer-events: none; transition: 0.1s;
				svg {
					position: absolute; top: -33px; left: -33px; transform: scale(0.1); transform-origin: 0 0;
					path {
						stroke: #2f2c2c; stroke-width: 30px; stroke-linecap: round;
						fill: transparent;
					}
				}
			}
		}

		.header-menu {
			float: left; margin: 0; padding: 0;

			& > li {
				display: inline-block; padding: 0 13px 35px; position: relative;

				& > a {
					font-size: 17px;
					position: relative; margin-right: 3px;
					transition: all .3s ease;

					&:before {
						content: '';
						display: block;
						width: 80%;
						height: 2px;
						background-color: #4cc2c0;
						position: absolute;
						right: 0;
						bottom: -10px;
						opacity: 0;
						transition: all .3s linear;

						@-webkit-keyframes primary-long {
							0% { width: 100%; }
							50% { width: 55%; }
							100% { width: 80%; }
						}
					}

					&:after {
						content: '';
						display: block;
						position: absolute;
						width: 15%;
						height: 2px;
						background-color: #4cc2c0;
						left: 0;
						bottom: -10px;
						opacity: 0;
						transition: all .3s linear;

						@keyframes primary-short {
							0% { width: 0; }
							50% { width: 40%; }
							100% { width: 15%; }
						}
					}

					&:hover {
						color: #4cc2c0;

						&:before,
						&:after {opacity: 1;}

						&:before {
							width: 80%;
							animation: primary-long .5s linear;
						}

						&:after {
							width: 15%;
							animation: primary-short .5s linear;
						}
					}
				}

				ul {
					position: absolute; z-index: 9999; left: -25px; top: 40px; margin-top: 0; min-width: 330px; padding: 20px 0 30px; display: none;
					background-color: #ffffff; border-radius: 5px; box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.16);
					list-style: none;

					li {
						font-size: 12px;
						position: relative; width: 100%; clear: both; padding: 0; margin: 0;
						border: 0 none;

						&:first-child {padding: 10px 40px 0;}

						span {
							color: $dark; font-size: 24px; font-weight: 400; font-family: $font-zz; letter-spacing: 0.4px; line-height: 1.2;
							margin-bottom: 10px; display: block;
						}

						p {
							color: #ccc; font-size: 14px; line-height: 1.3; letter-spacing: 0.5px;
							margin: 0 0 .75em;
						}

						a {
							color: #acacac; font-size: 16px; font-weight: 400;
							position: relative; padding: 10px 40px 10px 40px;display: block;
							transition: all .4s ease-out;

							&:before {
								content: '';
								display: block; height: 100%; width: 3px; position: absolute; left: 0; top: 0;
								background-color: #4cc2c0;
								opacity: 0;
								transition: all .3s ease;
							}

							&:hover {
								color: #4cc2c0;

								&:before {opacity: 1; width: 3px; animation: none;}

								i {color: #4cc2c0;}
							}

							i {
								color: #e1e1e1; font-size: 24px; text-align: center;
								margin-right: 15px; margin-left: 0; vertical-align: middle;
								opacity: 1;
								transition: all .4s ease;
							}
						}
					}
				}
			}
		}
	}

	.header-search {
		float: right; padding: 14px 0;

		li {
			position: relative; display: inline-block;

			&:first-child {
				a {
					i {
						color: #2f2c2c; font-size: 28px;
					}
					span {
						color: #fff; font-size: 10px; line-height: 14px; text-align: center;
						display: block; position: absolute; left: -6px; top: 4px; width: 16px; height: 16px;
						background-color: #4cc2c0; border: 1px solid transparent; border-radius: 50%;
					}
				}
			}

			&:last-child {
				a {
					margin-left: 10px;
					i {
						color: #e1e1e1; font-size: 26px;
						position: relative;
						transition: all .3s ease;
					}

					&:hover {
						i {
							color: #4cc2c0;
						}
					}
				}
			}

			.popup-search {
				position: absolute; top: 38px; right: -20px; left: auto; width: auto; min-width: 430px; max-width: 700px; padding: 40px 30px 10px 30px; z-index: 1; display: none;
				background-color: #fff; border-radius: 5px; box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.16);
				form {
					position: relative;

					input {
						color: #acacac; font-size: 16px; line-height: 1.5; letter-spacing: 0.4px;
						padding: 20px 40px; margin-bottom: 30px;
						background-color: #f7f9f9; border-radius: 50px;
						transition: all .3s ease;

						&:focus {
							outline: none;
						}
					}

					button {
						color: #fff; font-size: 15px; letter-spacing: 0.5px; text-transform: uppercase;
						display: inline-block; position: absolute; right: 0; top: 0; width: 60px; height: 64px; padding: 17px 5px;
						background-color: #2f2c2c; border-radius: 0 50px 50px 0;
						cursor: pointer;
						
						i {
							color: #f7f9f9; font-size: 26px;
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	.user-menu {
		position: absolute; right: 100px; bottom: -35px; width: 70px; height: 70px;
		border: 3px solid #2f2c2c; border-radius: 50%;

		.popup-cart-wrap {
			position: absolute; top: 39px; right: -50px; z-index: 1; width: 330px; padding: 40px; /* display: none; */
			background-color: #fff; border-radius: 5px; box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.16);
			
			p {
				color: #2f2c2c; font-size: 22px;
				margin-top: 20px; margin-bottom: 10px;
			}

			ul {
				margin-bottom: 20px;

				li {
					color: #acacac; font-size: 16px; line-height: 26px;
					i {
						margin: 0 10px 0 15px;
					}
				}
			}

			.user-menu-close {
				height: 70px; width: 70px; position: absolute; right: 47px; top: -42px; z-index: 35;
				border: 3px solid #2f2c2c; border-radius: 50%;
			}

			.btn {
				color: #ffffff; font-size: 16px; text-transform: capitalize; text-align: center;
				padding: 15px 35px; width: 100%;
				background-color: #2f2c2c;
			}
		}

		.user-menu-content {
			position: relative; display: table-cell; vertical-align: middle; width: 64px; height: 64px;
			background-color: #f15b26; border: 4px solid #fff; border-radius: 50%;

			span {
				display: block; height: 3px; margin: 3px auto;
				background: #fff; border-radius: 10px;
				transition: all .3s ease;

				&:first-of-type {width: 25%;}
				&:nth-child(2) {width: 50%;}
				&:last-of-type {width: 40%;}
			}

			i {
				display: block; height: 3px; width: 50%; position: absolute; left: 25%; top: 50%; margin: auto;
				background: #fff none repeat scroll 0 0; border-radius: 10px;
				transition: all 0.3s ease 0s;

				&:first-child {transform: rotate(-45deg);}
				&:last-child {transform: rotate(45deg);}
			}
		}
	}
}

// footer
.footer {
	padding-top: 110px;
	background: #151414;

	em {
		font-size: 10px;
		position: relative; top: -2px;
	}

	.about-us {
		p {
			color: #797676; font-size: 16px; line-height: 1.6; letter-spacing: 0.5px;
			margin: 0 0 .75em;

			a {
				color: #ffffff; font-size: 16px;
			}

		}
	}

	.services {

		&:after {
			content: '';
			display: block; width: 100%;
			clear: both;
		}

		ul {
			line-height: 1.2;
			width: 50%;

			&:first-of-type {
				float: right;
			}
			&:last-of-type {
				float: left;
			}

			li {
				font-size: 18px; 
				margin-bottom: 18px;
				transition: all .3s ease;

				&:hover {
					i, a, span {
						color: #4cc2c0;
					}
					i {margin-left: 10px;}
				}

				i {
					color: #504c4c; font-size: 12px;
					float: left; margin-right: 15px; margin-top: 3px;
					transition: all .3s ease;
				}

				a {
					color: #504c4c; font-size: 14px;
					display: block;
					overflow: hidden;
					transition: all .3s ease;

					span {
						color: #504c4c; font-size: 16px;
						transition: all .3s ease;
					}
				}
			}
		}
	}

	.contacts {
		margin-top: 110px; padding: 40px 0;
		border-top: 2px solid #1c1b1b;

		&:after {
			content: '';
			display: block; width: 100%;
			clear: both;
		}

		.contacts-item {
			i {
				float: left; width: 70px; height: 70px; margin-right: 30px;
			}

			address {
				margin-left: auto; margin-bottom: 0;
				overflow: hidden;

				a {
					color: #ffffff; font-size: 22px; line-height: 1.5;

					&:hover {color: #4cc2c0;}
				}

				p {
					color: #504c4c; font-size: 16px; line-height: 26px;
					margin: 0 0 .75em;
				}
			}
		}
	}

	.sub-footer {
		padding: 60px 0;
		background: #121111;

		ul {
			li {
				color: #504c4c; font-size: 14px;
				display: inline-block; margin-right: 30px;

				a {
					color: #797676;
					transition: all .3s ease;

					&:hover {color: #4cc2c0;}
				}
			}
		}
	}

	.back-to-top {
		float: right; display: block; position: relative; top: -4px; width: 50px; height: 50px; z-index: 999;
		transition: all .3s ease;
		fill: #222121; stroke: inherit; 

		&:hover {
			fill: #4cc2c0;
		}
	}
}

.subscribe-item {
	padding: 72px 0;

	&:after {
		content: '';
		display: block; width: 100%; clear: both;
	}

	h4 {
		color: #fff; font-size: 30px;
		margin-bottom: 23px;
	}

	p {
		color: rgba(255, 255, 255, 0.5); font-size: 18px; line-height: 26px;
		float: left; margin: 0 0 .75em;
	}

	form {
		margin-bottom: 25px;

		input {
			color: #797676; font-size: 16px; line-height: 1.5;
			float: left; width: 67%; padding: 16px 40px;
			background-color: #fff; border-color: transparent; border-radius: 50px 0 0 50px;

			&:focus {
				box-shadow: 17px 0 60px #d3dcdc;
			}
		}

		button {
			color: #fff; font-size: 15px; text-transform: uppercase; text-align: center;
			display: inline-block; position: relative; height: 56px; width: 33%; padding: 17px 0;
			background-color: #2f2c2c; border-radius: 0 50px 50px 0;
			cursor: pointer;
		}
	}
}

// блок для отзывов
.testimonials {
	

	
	// inside carousel
	.carousel & {
		&-item {}
		&-arrows {}
		&-dots {}

	}

	&.promo {
		.carousel & {
			&-item {}
			&-arrows {}
			&-dots {}
		}
	}

	&.brand {}
	&.lux {}
	&.list {}
}

// блок для нейтрального содержания
.content {
	h2 {}
	p {}

	&.author {

	}
}

// все формы на сайте тут
.forms {
	
	&.free {}
	&.start {}
	&.coaching {}
	&.subscribe {}
}

// социальные кнопки
.socials {
	li {
		display: inline-block; margin-left: 15px;

		&:first-child {margin-left: 0;}

		a {
			img {
				height: 24px;
			}
		}
	}
}

// детальки дизайна
.semicircle--right {
	display: block; position: absolute; top: 12px; right: 12px; width: 18px; height: 18px; overflow: hidden;

	&:after {
		content: '';
		display: block; position: absolute; right: 0; top: 0; width: 35px; height: 35px;
		border: 2px solid #fff; border-radius: 100%;
	}
}
.semicircle {
	display: block; position: absolute; top: 12px; left: 12px; width: 18px; height: 18px; overflow: hidden;

	&:after {
		content: '';
		display: block; position: absolute; left: 0; top: 0; width: 35px; height: 35px;
		border: 2px solid #fff; border-radius: 100%;
	}
}
.heading-line {
	font-size: 16px;
	position: relative; margin-bottom: 20px;

	.short-line, .long-line {
		display: inline-block; position: relative; height: 3px; margin-right: 10px;
		background-color: #4cc2c0; border-radius: 10px;
		transition: all .4s linear;
	}
	.short-line {
		width: 30px;
	}
	.long-line {
		width: 100px;
	}
}
.raiting {
	display: inline-block; margin-right: 20px; margin-bottom: 35px;
	li {
		display: inline-block;

		.fa-star {color: #fcd846;}
		.fa-star-o {color: #cccccc;}
	}
}



//faq
.faq {
	&-questions {
		li {
			position: relative; margin-bottom: 5px;
			background: #ffffff; border-radius: 50px;
			transition: all .3s ease;

			&:after {
				content: '';
				display: block; width: 1px; height: 35px; position: absolute; left: 70px; top: 50%; transform: translate(0, -50%);
				background-color: #cccccc;
				transition: all .3s ease;
			}

			&.active {
				&:after {
					height: 80%;
				}

				a {
					span {
						i {
							&:first-child {
								opacity: 0;
							}
						}

						&:first-child,
						&:last-child {
							color: #4cc2c0;
						}
					}
				}

				.faq-answer {
					display: block;
				}
			}

			a {
				font-size: 18px;
				display: table; padding: 25px 30px; width: 100%;
				transition: all .3s ease;

				&:hover {
					span {
						&:first-child,
						&:last-child {
							color: #4cc2c0;
						}
					}
				}

				span {
					display: table-cell; vertical-align: middle;
					transition: all .3s ease;

					&:first-child {
						color: #cccccc; font-size: 20px;
						position: relative; padding-right: 30px; width: 57px;
						opacity: 1;
					}

					&:last-child {
						color: #2f2c2c;
						padding-left: 30px;
					}
				}
			}

			.faq-answer {
				color: #acacac; font-size: 15px; line-height: 1.3;
				padding: 10px 20px 30px 102px; margin-bottom: 5px; display: none;
				border-radius: 0 0 50px 50px;
				transition: all .3s ease;
			}
		}
	}

	&-items {
		padding: 80px 0;
		li {
			font-size: 18px; letter-spacing: 0.2px; line-height: 1.5; font-weight: 400;
			position: relative; padding-left: 42px; margin-bottom: 18px;
			transition: all .3s ease;

			&:before {
				font-family: 'seosight' !important; font-size: 12px; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				position: absolute; left: 0; top: 8px;
			}

			&.true {
				color: #3cb878;

				&:before {
					content: "\e908";
					color: #3cb878;
				}
			}
			&.false {
				color: #f15b26;

				&:before {
					content: "\e912";
					color: #f15b26;
				}
			}
		}
	}
}

// advantages
.advantage-items {
	text-align: center;
	position: relative; margin-top: 50px; margin-bottom: 60px; padding: 80px 35px 40px;
	background: #ffffff;

	h4 {
		font-size: 24px; line-height: 1.1; text-transform: uppercase; letter-spacing: 0.8px;
		margin-bottom: 10px; 
	}

	p {
		font-size: 16px; line-height: 1.5; letter-spacing: 0.2px;
		margin: 0 0 .75em;
	}

	figure {
		position: absolute; top: 0; left: 50%; margin: 0; transform: translate(-50%, -50%);

		img {
			width: 100%;
		}
	}
}

// lessons
.lesson-item {
	position: relative; padding: 40px; margin-bottom: 30px;
	background: #f7f9f9;
	transition: all .3s ease;

	&:hover {
		background: #2f2c2c;

		h5 {color: #ffffff;}
		a {color: #4cc2c0;}
	}
	
	figure {
		margin: 0 30px 30px 0; float: left;
	}

	h5 {
		font-size: 30px; line-height: 1.1; letter-spacing: 0.8px;
		margin-bottom: 15px;
	}

	p {
		font-size: 16px; line-height: 26px;
		margin-bottom: 25px;
	}

	ul {
		margin-bottom: 25px;
		li {
			color: #acacac; font-size: 16px; line-height: 26px;

			i {
				margin-right: 5px;
			}
		}
	}

	a {
		color: #ccc; font-size: 16px;
		float: none; display: block; padding: 0; margin: 0;
		border-left: none;
		transition: all 0.15s linear;

		i {
			font-size: 12px;
			margin-left: 10px;
		}
	}
}

.counter-item {
	span {
		color: #fcb03b; font-family: $font-zz; font-size: 100px; line-height: 1;
	}

	p {
		color: #fff; font-size: 24px; line-height: 1.3;
		margin: 0;
	}
}

// price
.price_table-wrap {
	margin: 0 15px;
	background-color: #fff; box-shadow: 0 14px 32px 10px rgba(0, 0, 0, 0.2); border-radius: 10px;
	overflow: hidden;
}
.price-item {
	text-align: center;
	position: relative; padding: 60px;

	&:hover {
		h5 {color: #4cc2c0;}

		.btn {background: #4cc2c0;}
	}

	figure {
		position: relative; width: 130px; height: 130px; margin: 0 auto 15px;
		border: 15px solid #f7f9f9; border-radius: 50%;
		
		img {
			position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
		}
	}

	h5 {
		font-size: 34px; line-height: 1.5;
		margin-bottom: 11px;
		transition: all .3s ease;
	}

	ul {
		margin-bottom: 21px;
		li {
			color: #acacac; font-size: 16px; line-height: 1.5; letter-spacing: 0.2px;
			margin-bottom: 5px;

			&.gold {
				color: #fcb03b;
			}

			em {
				color: #2f2c2c; font-weight: 600;
				b, small {font-weight: inherit;}
			}
		}
	}

	p {
		color: #4cc2c0; font-size: 24px; line-height: 1.5;
		margin-bottom: 31px;
	}

	.btn {
		padding: 23px 31px;
		background: #2f2c2c;
	}

	.dots {
		position: absolute; right: -17px; top: 50%; transform: translateY(-50%);
	}
}

// job
.job-statistics {
	margin-left: 50px;
	li {
		color: #acacac; font-size: 14px; line-height: 1.5;
		position: relative; margin-bottom: 20px; padding-left: 40px;

		&:before {
			content: '';
			display: inline-block; width: 20px; height: 20px; position: absolute; top: 0; left: 0;
			border-radius: 100%; border-color: transparent;
		}

		&:nth-child(1) {&:before {background: #4cc2c0;}}
		&:nth-child(2) {&:before {background: #3cb878;}}
		&:nth-child(3) {&:before {background: #fcb03b;}}
		&:nth-child(4) {&:before {background: #f15b26;}}

		b {
			color: #2f2c2c;
		}
	}
}
.job-info {
	p {
		color: #acacac; font-size: 18px; line-height: 26px; letter-spacing: 0.2px;
		margin: 0 0 80px;

		span {
			color: #2f2c2c; font-size: 18px; line-height: 26px; letter-spacing: 0.2px;
		}

		em {
			font-size: 12px;
			position: relative; top: -2px;
		}
	}

	ul {
		padding-left: 100px;

		li {
			color: #acacac; font-size: 14px; line-height: 80px;
			position: relative; margin-bottom: 40px; padding-left: 100px; height: 70px;

			i {
				color: #4cc2c0; font-size: 70px;
				display: inline-block; position: absolute; left: 0; top: 0;
			}

			em {
				color: #2f2c2c; font-size: 30px; line-height: 1.5; letter-spacing: 0.2px;

				b {

				}
			}

			a {
				color: #2f2c2c;
			}
		}
	}
}

// author
.author {
	&-slider {
		text-align: center;
		position: relative; padding: 80px 100px 130px; margin-bottom: 30px;
		background-color: #f7f9f9; box-shadow: 0 25px 40px rgba(0, 0, 0, 0.3);

		p {
			color: #ccc; font-size: 14px;
			position: absolute; left: 36px; top: 20px;
		}
	}
	&-info {
		padding-bottom: 40px; margin-bottom: 40px;
		border-bottom: 2px solid #f7f9f9;
		position: relative;
		z-index: 10;

		h3 {
			color: #f26522; font-size: 24px; line-height: 1.5; letter-spacing: 0.2px;
			margin-bottom: 15px;
		}

		h4 {
			color: #2f2c2c; font-size: 36px; line-height: 1.5; letter-spacing: 0.2px;
			margin-bottom: 20px;
		}

		p {
			color: #acacac; font-size: 18px; line-height: 26px;
			margin-bottom: 40px;
		}

		a {
			color: #4cc2c0; font-size: 16px;
			display: inline-block;
		}

		a.btn {
			color: #ffffff;
			padding: 23px 31px;
			background-color: #4cc2c0;

			i {
				font-size: 18px;
				margin-left: 10px;
			}
		}
	}

	&-footer {
		p {
			color: #2f2c2c; font-size: 16px; line-height: 1.5; letter-spacing: 0.2px;
			margin-bottom: 15px;

			&.workplace {a {color: #4cc2c0;}}

			a {
				color: #acacac; font-size: 16px; line-height: 1.5; letter-spacing: 0.2px;
				transition: all 0.15s linear;

				&:hover {color: #4cc2c0;}
			}
		}

		div {

			p {
				display: inline-block;
			}

			ul {
				display: inline-block;
				li {
					display: inline-block; margin-left: 15px;
					a {
						i {
							color: #d7d7d7; font-size: 20px;
							transition: all .3s ease;
						}

						&:hover {
							i {
								color: #08acee;
							}
						}
					}
				}
			}
		}
	}
}

// description
.description {
	&-tab_control {
		float: left; margin-top: -77px; margin-bottom: 85px; 

		li {
			display: inline-block;
			a {
				font-size: 18px; text-align: center; text-transform: uppercase; line-height: 1.5;
				float: left; position: relative; padding: 25px 70px;
				background-color: #f1f3f3; border-right: 2px solid #e3e9e9; border-radius: 50px 0 0 0;

				&:before {
					content: '';
					position: absolute; top: 0; left: 50%; display: block; width: 60%; height: 2px; transform: translate(-50%, 0);
					background-color: #4cc2c0;
					opacity: 0;
				}
			}

			&.active {
				a {
					color: #4cc2c0;
					background-color: #f7f9f9;

					&:before {
						opacity: 1;
					}
				}
			}

			&:last-child {
				margin-left: -4px;
				a {
					border-radius: 0 50px 0 0; border-right: none;
				}
			}
		}
	}

	&-course {
		display: none;
		h3 {
			color: #2f2c2c; font-size: 40px; line-height: 1.5; letter-spacing: 0.2px;
			margin-bottom: 40px;
		}

		p {
			color: #acacac; font-size: 18px; line-height: 26px; letter-spacing: 0.2px;
			margin-bottom: 0.75em;

			span {color: #2f2c2c;font-size: 18px; line-height: 26px; letter-spacing: 0.2px;}
		}
	}

	&-author {
		
		h3 {
			color: #2f2c2c; font-size: 40px; line-height: 1.5; letter-spacing: 0.2px;
			margin-bottom: 40px;
			span {
				color: #4cc2c0; font-size: 40px; line-height: 1.5; letter-spacing: 0.2px;
			}
		}

		ul.comments {
			li {
				padding-left: 100px; position: relative; margin-bottom: 40px;
				border-bottom: 2px solid #f1f3f3;

				figure {
					position: absolute; left: 0; top: 0;
				}
				ul.raiting {
					display: block; margin: 0;
					li {
						font-size: 16px; line-height: 1.5; letter-spacing: 0.2px;
						padding: 0; margin: 0;
						border: none;
					}
				}

				a {
					display: inline-block; margin-bottom: 15px;
					transition: all 0.15s linear;
					&.name {
						color: #2f2c2c; font-size: 18px;
						margin-right: 15px;
					}
					&.date {
						color: #ccc; font-size: 14px;
					}
				}

				p {
					color: #acacac; font-size: 18px; line-height: 26px; letter-spacing: 0.2px;
					margin: 0 0 .75em;
				}
			}
		}

		h4 {
			color: #acacac; font-size: 16px; line-height: 1.5; letter-spacing: 0.2px;
			display: inline-block; margin-left: 40px;
		}
		ul.raiting {
			display: inline-block; margin-left: 50px; margin-bottom: 30px;
		}

		form {
			margin-bottom: 20px;
			input {
				color: #acacac; font-size: 16px;
				padding: 20px 40px; margin-bottom: 30px;
				background: #ffffff; border-color: transparent; border-radius: 50px;
				transition: all .3s ease;

				&:focus {
					color: #4cc2c0;
					box-shadow: 17px 0 60px #d3dcdc;
					outline: none;
				}
			}

			textarea {
				color: #acacac; font-size: 16px;
				height: 100%; min-height: 230px; padding: 20px 40px; margin-bottom: 30px;
				background: #ffffff; border-color: transparent; border-radius: 50px;
				transition: all .3s ease;

				&:focus {
					color: #4cc2c0;
					box-shadow: 17px 0 60px #d3dcdc;
					outline: none;
				}
			}

			button {
				padding: 23px 31px;
				background-color: #4cc3c1;
			}
		}
		
	}
}