// POPUP
/*

'generic' - используется для любых попапов
'price' - это для курсов (он дополнительно устанавливает скрытый инпут для отслеживания что выбрали)
'svg' - попап с SVG анимацией
Теперь немного про каждый из них
Generic запускается с одной опцией - id попапа. Он находит этот попап и добавляет ему класс active, а так же вешает обработчики на закрытие попапа
Т.е. у него data-options="generic:#popupID"
+
У самого попапа тоже есть data-options="visible:close:shadow"
Это чтобы можно было менять стандартные классы
Т.е. если хотим не active, а что-то другое

*/
.popup {
	a.close {
		position: absolute; top: 20px; right: 20px; display: block; width: 30px; height: 30px;

		&:hover {}

		span {
			height: 4px; width: 30px; display: block; position: absolute; left: 50%; top: 50%;
			background: #acacac; border-radius: 4px;
			transition: all .3s ease;

			&:first-child {
				margin-bottom: -4px;
				transform: translate(-50%, -50%) rotate(45deg);
			}
			&:last-child {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
	
	&.generic {
		display: none; &.active {display: block;}

		width: 600px; margin: 0 auto; padding: 60px 0;
		position: absolute; left: 50%; margin-left: -300px; bottom: 0; z-index: 99;
		background-color: #fff; box-shadow: 0 14px 32px 10px rgba(0, 0, 0, 0.2); border-radius: 10px;

		@include respond-to(md) {left: 0;}
		@include respond-to(sm) {
			width: 450px; left: 50%; margin-left: 0; transform: translateX(-50%);
		}
		@include respond-to(xs) {
			width: 290px;
		}

		.price-item-1 & {
			left: 0; margin: 0;
			@include respond-to(sm) {
				width: 450px; left: 50%; transform: translateX(-50%);
			}
			@include respond-to(xs) {
				width: 290px;
			}
		}

		.popup-body {
			padding: 5px 30px 0 55px; margin-right: 30px; max-height: 480px; overflow-y: auto;

			@include respond-to(sm) {
				padding: 0 20px 0 40px; margin-right: 20px;
			}
			@include respond-to(xs) {
				padding: 0 15px 0 30px; margin-right: 15px;
			}
		}

		&.price-popup {form {.btn {@extend %inline-box;}}}

		&.naked {
			width: 90%; margin: 0; padding: 0;
			position: relative; left: 0; bottom: 20px;
			box-shadow: none;

			.popup-body {margin: 0; padding: 5px 0 0 0;}
			a.close {top: -50px;}
		}
	}

	&.svg {
		visibility: hidden; // need for this type popup (dislpay: none !not working)

		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		-webkit-transition: visibility 0s 0.6s;
		-moz-transition: visibility 0s 0.6s;
		transition: visibility 0s 0.6s;
		
		svg {
			position: absolute;
			top: 0;
			left: 0;

			> path {
				fill: #2f2c2c;
			}
		}

		a.svg-modal__close {
			/* 'X' icon */
			position: absolute;
			top: 20px;
			right: 5%;
			height: 30px;
			width: 30px;
			// border-radius: 50%;
			// background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
			/* image replacement */
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
			/* Force hardware acceleration*/
			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			visibility: hidden;
			opacity: 0;
			-webkit-transform: scale(0);
			-moz-transform: scale(0);
			-ms-transform: scale(0);
			-o-transform: scale(0);
			transform: scale(0);
			-webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
			-moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
			transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;

			span {
				height: 4px; width: 30px; display: block; position: absolute; left: 50%; top: 50%;
				background: #a5a5a5; border-radius: 4px;
				transition: all .3s ease;

				&:first-child {
					margin-bottom: -4px;
					transform: translate(-50%, -50%) rotate(45deg);
				}
				&:last-child {
					transform: translate(-50%, -50%) rotate(-45deg);
				}
			}

			&:hover {
				span {
					background: #ffffff;
				}
			}
		}

		.popup-body {
			position: relative;
			height: 100vh; padding: 40px 0; overflow-y: auto;
			opacity: 0;

			transform: translateY(50px);
			transition: opacity 0.3s 0s, transform 0.3s 0s;

			@include respond-to(desc_top) {padding: 120px;}

			
			> div {
				/* FLEX BOX */
				display:flex;
			    flex-direction: row;
			    flex-wrap: wrap;
			    justify-content: space-around;
			    align-content: center;
			    align-items: flex-start;
				
				section {
					* {color: #ffffff;} @extend %fixfont;
					
					width: 40%; padding: 80px; margin: 20px 0;
					border: 6px solid #f7f9f9; border-radius: 50%;

					// transform: matrix3d(1.05,0.17,0.17,-0.0005,-0.17,0.95,0.34,0.0005,-0.17,-0.34,10,-10,10,1);
				

					@include respond-to(lap_top) {width: 48%;}
					@include respond-to(tablet_land) {width: 60%; padding: 120px 100px;}
					@include respond-to(tablet_port) {width: 70%;}
					@include respond-to(phone_land_big) {width: 80%;}
					@include respond-to(phone_land_small) {width: 84%;}
					@include respond-to(phone_port) {width: 96%;}

					@include respond-to(desc_top) {width: 46%; padding: 100px;}
					@media (min-width: 1400px) {width: 42%; padding: 120px; margin: 30px 0;}
					@media (min-width: 1800px) {width: 30%;}
					@media (min-width: 2000px) {padding: 140px;}
					@media (min-width: 2400px) {padding: 180px;}

					h4 {font-size: 36px; margin-bottom: 0; b {font-size: 48px;}}
					.heading-line {margin: -5px 0 15px 0; span {background-color: $white;}}
					ul li {font-size: 14px;  b {font-size: 20px;}}

					}
			}
		}

		&.svg-modal_visible {
			visibility: visible;
			-webkit-transition: visibility 0s 0s;
			-moz-transition: visibility 0s 0s;
			transition: visibility 0s 0s;

			.popup-body {
				opacity: 1;
				-webkit-transform: translateY(0);
				-moz-transform: translateY(0);
				-ms-transform: translateY(0);
				-o-transform: translateY(0);
				transform: translateY(0);
				-webkit-overflow-scrolling: touch;
				-webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
				-moz-transition: opacity 0.3s 0.3s, -moz-transform 0.3s 0.3s;
				transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
			}

			.svg-modal__close {
				visibility: visible;
				opacity: 1;
				-webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
				-moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
				transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
				transform: scale(1);
			}
		}

		& + .svg-modal__overlay {
		  position: fixed;
		  z-index: 1;
		  top: 0;
		  left: 0;
		  height: 100%;
		  width: 100%;
		  background-color: #f2f2f2;
		  visibility: hidden;
		  overflow: hidden;
		  opacity: 0;
		  -webkit-transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
		  -moz-transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
		  transition: opacity 0.3s 0.3s, visibility 0s 0.6s;

		  &.active {
			  opacity: 1;
			  visibility: visible;
			  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
			  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
			  transition: opacity 0.3s 0s, visibility 0s 0s;
			}
		}
	}

	@include respond-to(sm) {}
	@include respond-to(xs) {}


	// .popup-content {

	// 	&::-webkit-scrollbar {
	// 		display: block; width: 2px;
	// 	}

	// 	&::-webkit-scrollbar-thumb {
	// 		width: 100%;
	// 		background: #4cc2c0; border-radius: 2px;
	// 	}

	// 	h3 {
	// 		color: #acacac; font-size: 14px; line-height: 1.2; letter-spacing: 0.4px;
	// 		margin: 0 0 20px;
	// 	}

	// 	h4 {
	// 		font-size: 30px;
	// 	}

	// 	p {
	// 		margin-bottom: 20px;
	// 	}

	// 	ul {
	// 		margin-bottom: 40px;
	// 		&.last {margin-bottom: 0;}
	// 		li {
	// 			padding-left: 15px; position: relative; margin: 0;
	// 			&:before {
	// 				content: '\f0da';
	// 				font: normal normal normal 14px/1 FontAwesome;
	// 				color: #4cc2c0; font-size: 12px;
	// 				position: absolute; left: 0; top: 4px;
	// 			}

	// 			b {font-size: 16px;}
	// 		}
	// 	}

	// 	form {
	// 		input {margin-bottom: 15px;}
	// 		textarea {
	// 			margin-bottom: 15px; min-height: 120px;
	// 		}
	// 		button {
	// 			text-align: center;
	// 			width: 100%; margin: 15px 0;
	// 			background: #2f2c2c;
	// 			&:hover {background: #4cc2c0;}
	// 		}
	// 	}

	// }
	
}