/* titles */
.title {
	text-align: center;
	> hgroup,
	> section,
	> article,
	> blockquote,
	> form,
	> aside,
	> nav {text-align: left;}
	
	// hgroup
	h2 {}
	h3 {}
	p {}

	// single
	.title {}
	
	// decoration
	&:hover {
		.heading-line {

			.short-line {
				width: 0;
				animation: move-short 1.5s infinite linear;

				@keyframes move-short {

					100% {
						width: 140px;
						margin-right: 0;
					}

				}
			}

			.long-line {
				width: 130px;
				animation: move 1.5s infinite linear;

				@keyframes move {

					100% {
						width: 0;
					}
				}
			}
		}
	}
	

	// CLONES
	&--coaching {}

	// THEMES
	.venge & {}
	.adajio & {}
}

/* wrappers */
.base {
	background: #fff url() 0 0 no-repeat;
	@include paddings-respond();

	@extend .title;
	text-align: left;

	> hgroup,
	> section,
	> article,
	> blockquote,
	> form,
	> aside,
	> nav {
		// modules positions
		&:nth(1) {margin: 0 auto;}
	}

	// decoration
	& .decor {}


	// THEMES
	.venge & {color: #fff;}
	.adajio & {color: #fff;}
}

.offer {
	&-money_back,
	&-coaching,
	&-learn_html,
	&-about,
	&-free,
	&-testimonials {
		padding: 120px 0;
	}

	&-money_back {
		background: url('../img/background-element.png') center center repeat;
	}
	&-coaching {
		background: url('../img/pattern-bg-olive.jpg') center center repeat;
	}
	&-learn_html {
		background: url('../img/05-1.jpg') center center repeat;
	}
	&-about {
		background: url('../img/bg-boxed-black.jpg') center center repeat;
	}
	&-free {
		background: url('../img/pattern-bg-gray.jpg') center center repeat;
	}
	&-testimonials {
		background: url('../img/pattern-bg-lightgray.jpg') center center repeat;
	}
}

/* --- 404.hbs --- */
.page-not-found {
	padding: 350px 0 510px;
	background: #F7F9F9;
}

/* --- about.hbs --- */
.content-about_us {
	padding: 120px 0 0;
}
.promo-possible_future {
	padding: 0;
}
.content-about_us,
.promo-possible_future {
	background: #ffffff;
}
.about-our_mission {
	padding: 120px 0;
	background: #ff9700;
}
.about-our_team {
	padding: 120px 0;
	background: #ffffff;
}
.testimonial-slider {
	padding: 120px 0;
}
.corporate_training {
	padding: 120px 0;
	background: #fcb03b;
}

/* --- free.hbs --- */
.about-consideration_time {
	padding: 120px 0;
	background: #ffffff;
}
.promo-download_now {
	padding: 80px 0;
	background: url('../img/bg-boxed-blue.jpg') center center repeat;
}

/* --- individual.hbs --- */
.personal_coaching {
	padding: 100px 0 0;
	background: #ffffff;
}
.order_coaching {
	padding: 120px 0;
	background: url('../img/bg-boxed-black.jpg') center center repeat;
}
.testimonial-section {
	padding: 120px 0;
	background: #ffffff;
}

/* --- it-professions.hbs --- */
.sale-you,
.sale-it {
	padding: 120px 0;
}
.sale-need {
	padding: 0;
}
.sale{
	&-you,
	&-need,
	&-it {
		background: #ffffff;
	}
}
.testimonials-promo {
	padding: 120px 0 80px;
	background: #fcb03b;
}
.promo-our_courses {
	padding: 120px 0 30px;
	background: #ffffff;
}

/* --- learn_html.hbs --- */
.it_education-job {
	padding: 120px 0;
	background: #f7f9f9;
}
.order_education {
	padding: 130px 0 200px;
	background: #2f2c2c;
}
.it_education-author {
	padding: 120px 0;
	background: #ffffff;
}
.it_education-description {
	padding: 0;
	background: #f7f9f9;
}
.it_education-price {
	padding: 80px 0 120px;
	background: #f7f9f9;
}
.counter_red {
	padding: 120px 0;
	background: url('../img/bg-boxed-red.jpg') center center repeat;
}
.it_education-lessons {
	padding: 120px 0;
	background: #ffffff;
}
.testimonials-slider {
	padding: 120px 0 80px;
	&.testi-1 {
		background: #fcb03b;
	}
	&.testi-2 {
		background: url('../img/bg-boxed-dark.jpg') center center repeat;
	}
}
.it_education-advantages {
	padding: 120px 0;
	background: #f7f9f9;
}
.it_education-faq {
	padding: 120px 0 80px;
	background: #f7f9f9;
}

/* --- testimonials.hbs --- */
.counter_green {
	padding: 80px 0;
	background: #3cb878;
}