/* base */
@import 'https://fonts.googleapis.com/css?family=Varela+Round';
@import 'https://fonts.googleapis.com/css?family=Rubik&subset=cyrillic';
html, body {
  height: 100%; }

body {
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: 1.5;
  font-size: 16px; }

img {
  max-width: 100%; }

textarea {
  resize: vertical; }

button, select {
  -webkit-appearance: none;
  border: none; }

*, *:after, *:before {
  box-sizing: border-box; }

.container, .row {
  position: relative; }

/* fixes */
fieldset, body ul, body ol, body input, body textarea, body .btn {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none; }

body input, body textarea, body .btn {
  display: inline-block;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline; }

/* mixins */
/* fonts */
@font-face {
  font-family: ArialRoundedMTProCyr;
  src: url("../fonts/arial_rounded/ArialRoundedMTProCyr.eot");
  src: url("../fonts/arial_rounded/ArialRoundedMTProCyr.eot") format("embedded-opentype"), url("../fonts/arial_rounded/ArialRoundedMTProCyr.woff2") format("woff2"), url("../fonts/arial_rounded/ArialRoundedMTProCyr.woff") format("woff"), url("../fonts/arial_rounded/ArialRoundedMTProCyr.ttf") format("truetype"), url("../fonts/arial_rounded/ArialRoundedMTProCyr.svg#ArialRoundedMTProCyr") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: ArialRoundedMTProCyr;
    src: url("../fonts/arial_rounded/ArialRoundedMTProCyr.svg#ArialRoundedMTProCyr") format("svg"); } }

@font-face {
  font-family: ArialRoundedMTProCyrBold;
  src: url("../fonts/arial_rounded/ArialRoundedMTProCyrBold.eot");
  src: url("../fonts/arial_rounded/ArialRoundedMTProCyrBold.eot") format("embedded-opentype"), url("../fonts/arial_rounded/ArialRoundedMTProCyrBold.woff2") format("woff2"), url("../fonts/arial_rounded/ArialRoundedMTProCyrBold.woff") format("woff"), url("../fonts/arial_rounded/ArialRoundedMTProCyrBold.ttf") format("truetype"), url("../fonts/arial_rounded/ArialRoundedMTProCyrBold.svg#ArialRoundedMTProCyrBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: ArialRoundedMTProCyrBold;
    src: url("../fonts/arial_rounded/ArialRoundedMTProCyrBold.svg#ArialRoundedMTProCyrBold") format("svg"); } }

/* colors */
/* basic styles */
body {
  /* typography */
  font-size: 100%;
  /* forms */
  /* buttons */ }
  @media (max-width: 543px) {
    body {
      font-size: 80%; } }
  @media (min-width: 544px) {
    body {
      font-size: 80%; } }
  @media (min-width: 768px) {
    body {
      font-size: 90%; } }
  body h1 {
    font-family: ArialRoundedMTProCyr, sans-serif;
    font-size: 24px;
    color: #2f2c2c;
    line-height: 1.2;
    letter-spacing: 0.4px; }
  body h2 {
    font-family: ArialRoundedMTProCyr, sans-serif;
    font-size: 24px;
    color: #2f2c2c;
    line-height: 1.2;
    letter-spacing: 0.4px; }
  body h3 {
    font-family: ArialRoundedMTProCyr, sans-serif;
    font-size: 24px;
    color: #2f2c2c;
    line-height: 1.2;
    letter-spacing: 0.4px; }
  body h4 {
    font-family: ArialRoundedMTProCyr, sans-serif;
    font-size: 24px;
    color: #2f2c2c;
    line-height: 1.2;
    letter-spacing: 0.4px; }
  body h5 {
    font-family: ArialRoundedMTProCyr, sans-serif;
    font-size: 24px;
    color: #2f2c2c;
    line-height: 1.2;
    letter-spacing: 0.4px; }
  body h6 {
    font-family: ArialRoundedMTProCyr, sans-serif;
    font-size: 24px;
    color: #2f2c2c;
    line-height: 1.2;
    letter-spacing: 0.4px; }
  body p {
    font-family: ArialRoundedMTProCyr, sans-serif;
    font-size: 14px;
    color: #acacac;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin: 0 0 0.75em; }
  body a {
    font-family: ArialRoundedMTProCyr, sans-serif;
    font-size: 14px;
    color: #2f2c2c;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-decoration: none;
    transition: all 0.15s linear; }
    body a:hover {
      text-decoration: none; }
    body a:focus {
      text-decoration: none; }
  body b {
    font-family: "Varela Round", sans-serif !important;
    font-weight: 400; }
  body em, body i, body b {
    font-style: normal;
    font-weight: 400; }
  body span {
    font-family: ArialRoundedMTProCyr, sans-serif;
    font-size: 16px;
    color: #2f2c2c;
    line-height: 1.2;
    letter-spacing: 0.4px; }
  body table {
    font-family: ArialRoundedMTProCyr, sans-serif;
    font-size: 16px;
    color: #acacac;
    line-height: 1.2;
    letter-spacing: 0.4px; }
  body ul.listing, body ol.listing {
    padding: 0 60px;
    /* http://prntscr.com/cq1w92 */
    /* http://prntscr.com/cq1w1m */ }
    body ul.listing li, body ol.listing li {
      font-family: ArialRoundedMTProCyr, sans-serif;
      font-size: 14px;
      color: #2f2c2c;
      line-height: 1.2;
      letter-spacing: 0.4px;
      margin-bottom: 10px; }
      body ul.listing li:last-child, body ol.listing li:last-child {
        margin-bottom: 0; }
      body ul.listing li i, body ol.listing li i {
        font-size: 12px;
        color: #f15b26;
        float: left;
        margin: 8px 30px 0 0; }
      body ul.listing li a, body ul.listing li span, body ol.listing li a, body ol.listing li span {
        display: block;
        overflow: hidden; }
  body ul li, body ol li {
    font-family: ArialRoundedMTProCyr, sans-serif;
    font-size: 14px;
    color: #2f2c2c;
    line-height: 1.5;
    letter-spacing: 0.2px; }
  body input, body textarea {
    font-family: ArialRoundedMTProCyr, sans-serif;
    font-size: 16px;
    color: #acacac;
    line-height: 1.2;
    letter-spacing: 0.4px;
    padding: 20px 40px;
    margin-bottom: 30px;
    width: 100%;
    background: #f7f9f9;
    border-color: transparent;
    border-radius: 50px;
    transition: all .3s ease; }
    body input:focus, body textarea:focus {
      color: gray; }
    body input textarea::-webkit-input-placeholder,
    body input input::-webkit-input-placeholder,
    body input textarea:-moz-placeholder,
    body input input:-moz-placeholder,
    body input textarea:-ms-input-placeholder,
    body input input:-ms-input-placeholder, body textarea textarea::-webkit-input-placeholder,
    body textarea input::-webkit-input-placeholder,
    body textarea textarea:-moz-placeholder,
    body textarea input:-moz-placeholder,
    body textarea textarea:-ms-input-placeholder,
    body textarea input:-ms-input-placeholder {
      color: #acacac !important; }
  body .btn {
    font-family: ArialRoundedMTProCyr, sans-serif;
    font-size: 15px;
    color: #fff;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    position: relative;
    padding: 25px 50px;
    background: #f15b26;
    border-radius: 50px;
    transition: all .3s ease;
    cursor: pointer; }

::selection {
  color: #fff;
  text-shadow: none;
  background: #f15b26; }

/* helpers */
.zz {
  font-family: "Varela Round", sans-serif !important; }

.position-abs {
  position: absolute !important; }

.venge {
  /* paddings */
  /* colors */
  /* typography */
  /* buttons */
  /* forms */ }

.adajio {
  /* ... */ }

/*------------- #VARIABLES --------------*/
.header {
  padding: 30px 0 0; }
  .header .logo {
    color: #2f2c2c;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    line-height: 1;
    padding: 10px 0 0 85px;
    margin-right: 82px;
    float: left;
    height: 52px;
    background: url("../img/logo-eye.png") 0 center no-repeat; }
    @media all and (max-width: 768px) {
      .header .logo {
        float: none;
        margin: 0 auto;
        display: block;
        width: 240px; } }
    .header .logo em {
      font-size: 30px; }
    .header .logo span {
      color: #acacac;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 1;
      display: block; }
  .header nav {
    float: left;
    padding: 14px 0; }
    @media all and (max-width: 768px) {
      .header nav {
        padding: 0;
        width: 100%;
        float: none;
        display: block;
        margin-top: 30px;
        overflow: hidden; } }
    .header nav .mobile-menu {
      text-align: center;
      text-decoration: none;
      outline: none;
      position: relative;
      display: none;
      margin: 0 auto;
      padding: 0;
      height: 46px;
      cursor: pointer; }
      @media all and (max-width: 768px) {
        .header nav .mobile-menu {
          display: block; } }
      .header nav .mobile-menu p {
        color: #2f2c2c;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
        top: 2px;
        display: inline-block;
        margin-right: 15px;
        vertical-align: middle; }
      .header nav .mobile-menu span {
        position: relative;
        display: inline-block;
        width: 34px;
        height: 34px;
        vertical-align: middle;
        pointer-events: none;
        transition: 0.1s; }
        .header nav .mobile-menu span svg {
          position: absolute;
          top: -33px;
          left: -33px;
          transform: scale(0.1);
          transform-origin: 0 0; }
          .header nav .mobile-menu span svg path {
            stroke: #2f2c2c;
            stroke-width: 30px;
            stroke-linecap: round;
            fill: transparent; }
    .header nav .header-menu {
      float: left;
      margin: 0;
      padding: 0; }
      .header nav .header-menu > li {
        display: inline-block;
        padding: 0 13px 35px;
        position: relative; }
        .header nav .header-menu > li > a {
          font-size: 17px;
          position: relative;
          margin-right: 3px;
          transition: all .3s ease; }
          .header nav .header-menu > li > a:before {
            content: '';
            display: block;
            width: 80%;
            height: 2px;
            background-color: #4cc2c0;
            position: absolute;
            right: 0;
            bottom: -10px;
            opacity: 0;
            transition: all .3s linear; }

@-webkit-keyframes primary-long {
  0% {
    width: 100%; }
  50% {
    width: 55%; }
  100% {
    width: 80%; } }
          .header nav .header-menu > li > a:after {
            content: '';
            display: block;
            position: absolute;
            width: 15%;
            height: 2px;
            background-color: #4cc2c0;
            left: 0;
            bottom: -10px;
            opacity: 0;
            transition: all .3s linear; }

@keyframes primary-short {
  0% {
    width: 0; }
  50% {
    width: 40%; }
  100% {
    width: 15%; } }
          .header nav .header-menu > li > a:hover {
            color: #4cc2c0; }
            .header nav .header-menu > li > a:hover:before, .header nav .header-menu > li > a:hover:after {
              opacity: 1; }
            .header nav .header-menu > li > a:hover:before {
              width: 80%;
              animation: primary-long .5s linear; }
            .header nav .header-menu > li > a:hover:after {
              width: 15%;
              animation: primary-short .5s linear; }
        .header nav .header-menu > li ul {
          position: absolute;
          z-index: 9999;
          left: -25px;
          top: 40px;
          margin-top: 0;
          min-width: 330px;
          padding: 20px 0 30px;
          display: none;
          background-color: #ffffff;
          border-radius: 5px;
          box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.16);
          list-style: none; }
          .header nav .header-menu > li ul li {
            font-size: 12px;
            position: relative;
            width: 100%;
            clear: both;
            padding: 0;
            margin: 0;
            border: 0 none; }
            .header nav .header-menu > li ul li:first-child {
              padding: 10px 40px 0; }
            .header nav .header-menu > li ul li span {
              color: #2f2c2c;
              font-size: 24px;
              font-weight: 400;
              font-family: "Varela Round", sans-serif;
              letter-spacing: 0.4px;
              line-height: 1.2;
              margin-bottom: 10px;
              display: block; }
            .header nav .header-menu > li ul li p {
              color: #ccc;
              font-size: 14px;
              line-height: 1.3;
              letter-spacing: 0.5px;
              margin: 0 0 .75em; }
            .header nav .header-menu > li ul li a {
              color: #acacac;
              font-size: 16px;
              font-weight: 400;
              position: relative;
              padding: 10px 40px 10px 40px;
              display: block;
              transition: all .4s ease-out; }
              .header nav .header-menu > li ul li a:before {
                content: '';
                display: block;
                height: 100%;
                width: 3px;
                position: absolute;
                left: 0;
                top: 0;
                background-color: #4cc2c0;
                opacity: 0;
                transition: all .3s ease; }
              .header nav .header-menu > li ul li a:hover {
                color: #4cc2c0; }
                .header nav .header-menu > li ul li a:hover:before {
                  opacity: 1;
                  width: 3px;
                  animation: none; }
                .header nav .header-menu > li ul li a:hover i {
                  color: #4cc2c0; }
              .header nav .header-menu > li ul li a i {
                color: #e1e1e1;
                font-size: 24px;
                text-align: center;
                margin-right: 15px;
                margin-left: 0;
                vertical-align: middle;
                opacity: 1;
                transition: all .4s ease; }
  .header .header-search {
    float: right;
    padding: 14px 0; }
    .header .header-search li {
      position: relative;
      display: inline-block; }
      .header .header-search li:first-child a i {
        color: #2f2c2c;
        font-size: 28px; }
      .header .header-search li:first-child a span {
        color: #fff;
        font-size: 10px;
        line-height: 14px;
        text-align: center;
        display: block;
        position: absolute;
        left: -6px;
        top: 4px;
        width: 16px;
        height: 16px;
        background-color: #4cc2c0;
        border: 1px solid transparent;
        border-radius: 50%; }
      .header .header-search li:last-child a {
        margin-left: 10px; }
        .header .header-search li:last-child a i {
          color: #e1e1e1;
          font-size: 26px;
          position: relative;
          transition: all .3s ease; }
        .header .header-search li:last-child a:hover i {
          color: #4cc2c0; }
      .header .header-search li .popup-search {
        position: absolute;
        top: 38px;
        right: -20px;
        left: auto;
        width: auto;
        min-width: 430px;
        max-width: 700px;
        padding: 40px 30px 10px 30px;
        z-index: 1;
        display: none;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.16); }
        .header .header-search li .popup-search form {
          position: relative; }
          .header .header-search li .popup-search form input {
            color: #acacac;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.4px;
            padding: 20px 40px;
            margin-bottom: 30px;
            background-color: #f7f9f9;
            border-radius: 50px;
            transition: all .3s ease; }
            .header .header-search li .popup-search form input:focus {
              outline: none; }
          .header .header-search li .popup-search form button {
            color: #fff;
            font-size: 15px;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 0;
            width: 60px;
            height: 64px;
            padding: 17px 5px;
            background-color: #2f2c2c;
            border-radius: 0 50px 50px 0;
            cursor: pointer; }
            .header .header-search li .popup-search form button i {
              color: #f7f9f9;
              font-size: 26px;
              margin-left: 0; }
  .header .user-menu {
    position: absolute;
    right: 100px;
    bottom: -35px;
    width: 70px;
    height: 70px;
    border: 3px solid #2f2c2c;
    border-radius: 50%; }
    .header .user-menu .popup-cart-wrap {
      position: absolute;
      top: 39px;
      right: -50px;
      z-index: 1;
      width: 330px;
      padding: 40px;
      /* display: none; */
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.16); }
      .header .user-menu .popup-cart-wrap p {
        color: #2f2c2c;
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 10px; }
      .header .user-menu .popup-cart-wrap ul {
        margin-bottom: 20px; }
        .header .user-menu .popup-cart-wrap ul li {
          color: #acacac;
          font-size: 16px;
          line-height: 26px; }
          .header .user-menu .popup-cart-wrap ul li i {
            margin: 0 10px 0 15px; }
      .header .user-menu .popup-cart-wrap .user-menu-close {
        height: 70px;
        width: 70px;
        position: absolute;
        right: 47px;
        top: -42px;
        z-index: 35;
        border: 3px solid #2f2c2c;
        border-radius: 50%; }
      .header .user-menu .popup-cart-wrap .btn {
        color: #ffffff;
        font-size: 16px;
        text-transform: capitalize;
        text-align: center;
        padding: 15px 35px;
        width: 100%;
        background-color: #2f2c2c; }
    .header .user-menu .user-menu-content {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      width: 64px;
      height: 64px;
      background-color: #f15b26;
      border: 4px solid #fff;
      border-radius: 50%; }
      .header .user-menu .user-menu-content span {
        display: block;
        height: 3px;
        margin: 3px auto;
        background: #fff;
        border-radius: 10px;
        transition: all .3s ease; }
        .header .user-menu .user-menu-content span:first-of-type {
          width: 25%; }
        .header .user-menu .user-menu-content span:nth-child(2) {
          width: 50%; }
        .header .user-menu .user-menu-content span:last-of-type {
          width: 40%; }
      .header .user-menu .user-menu-content i {
        display: block;
        height: 3px;
        width: 50%;
        position: absolute;
        left: 25%;
        top: 50%;
        margin: auto;
        background: #fff none repeat scroll 0 0;
        border-radius: 10px;
        transition: all 0.3s ease 0s; }
        .header .user-menu .user-menu-content i:first-child {
          transform: rotate(-45deg); }
        .header .user-menu .user-menu-content i:last-child {
          transform: rotate(45deg); }

.footer {
  padding-top: 110px;
  background: #151414; }
  .footer em {
    font-size: 10px;
    position: relative;
    top: -2px; }
  .footer .about-us p {
    color: #797676;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    margin: 0 0 .75em; }
    .footer .about-us p a {
      color: #ffffff;
      font-size: 16px; }
  .footer .services:after {
    content: '';
    display: block;
    width: 100%;
    clear: both; }
  .footer .services ul {
    line-height: 1.2;
    width: 50%; }
    .footer .services ul:first-of-type {
      float: right; }
    .footer .services ul:last-of-type {
      float: left; }
    .footer .services ul li {
      font-size: 18px;
      margin-bottom: 18px;
      transition: all .3s ease; }
      .footer .services ul li:hover i, .footer .services ul li:hover a, .footer .services ul li:hover span {
        color: #4cc2c0; }
      .footer .services ul li:hover i {
        margin-left: 10px; }
      .footer .services ul li i {
        color: #504c4c;
        font-size: 12px;
        float: left;
        margin-right: 15px;
        margin-top: 3px;
        transition: all .3s ease; }
      .footer .services ul li a {
        color: #504c4c;
        font-size: 14px;
        display: block;
        overflow: hidden;
        transition: all .3s ease; }
        .footer .services ul li a span {
          color: #504c4c;
          font-size: 16px;
          transition: all .3s ease; }
  .footer .contacts {
    margin-top: 110px;
    padding: 40px 0;
    border-top: 2px solid #1c1b1b; }
    .footer .contacts:after {
      content: '';
      display: block;
      width: 100%;
      clear: both; }
    .footer .contacts .contacts-item i {
      float: left;
      width: 70px;
      height: 70px;
      margin-right: 30px; }
    .footer .contacts .contacts-item address {
      margin-left: auto;
      margin-bottom: 0;
      overflow: hidden; }
      .footer .contacts .contacts-item address a {
        color: #ffffff;
        font-size: 22px;
        line-height: 1.5; }
        .footer .contacts .contacts-item address a:hover {
          color: #4cc2c0; }
      .footer .contacts .contacts-item address p {
        color: #504c4c;
        font-size: 16px;
        line-height: 26px;
        margin: 0 0 .75em; }
  .footer .sub-footer {
    padding: 60px 0;
    background: #121111; }
    .footer .sub-footer ul li {
      color: #504c4c;
      font-size: 14px;
      display: inline-block;
      margin-right: 30px; }
      .footer .sub-footer ul li a {
        color: #797676;
        transition: all .3s ease; }
        .footer .sub-footer ul li a:hover {
          color: #4cc2c0; }
  .footer .back-to-top {
    float: right;
    display: block;
    position: relative;
    top: -4px;
    width: 50px;
    height: 50px;
    z-index: 999;
    transition: all .3s ease;
    fill: #222121;
    stroke: inherit; }
    .footer .back-to-top:hover {
      fill: #4cc2c0; }

.subscribe-item {
  padding: 72px 0; }
  .subscribe-item:after {
    content: '';
    display: block;
    width: 100%;
    clear: both; }
  .subscribe-item h4 {
    color: #fff;
    font-size: 30px;
    margin-bottom: 23px; }
  .subscribe-item p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    line-height: 26px;
    float: left;
    margin: 0 0 .75em; }
  .subscribe-item form {
    margin-bottom: 25px; }
    .subscribe-item form input {
      color: #797676;
      font-size: 16px;
      line-height: 1.5;
      float: left;
      width: 67%;
      padding: 16px 40px;
      background-color: #fff;
      border-color: transparent;
      border-radius: 50px 0 0 50px; }
      .subscribe-item form input:focus {
        box-shadow: 17px 0 60px #d3dcdc; }
    .subscribe-item form button {
      color: #fff;
      font-size: 15px;
      text-transform: uppercase;
      text-align: center;
      display: inline-block;
      position: relative;
      height: 56px;
      width: 33%;
      padding: 17px 0;
      background-color: #2f2c2c;
      border-radius: 0 50px 50px 0;
      cursor: pointer; }

.socials li {
  display: inline-block;
  margin-left: 15px; }
  .socials li:first-child {
    margin-left: 0; }
  .socials li a img {
    height: 24px; }

.semicircle--right {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  width: 18px;
  height: 18px;
  overflow: hidden; }
  .semicircle--right:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 100%; }

/* titles */
.title, .base {
  text-align: center; }
  .title > hgroup, .base > hgroup,
  .title > section, .base > section,
  .title > article, .base > article,
  .title > blockquote, .base > blockquote,
  .title > form, .base > form,
  .title > aside, .base > aside,
  .title > nav, .base > nav {
    text-align: left; }
  .title:hover .heading-line .short-line, .base:hover .heading-line .short-line {
    width: 0;
    animation: move-short 1.5s infinite linear; }

@keyframes move-short {
  100% {
    width: 140px;
    margin-right: 0; } }
  .title:hover .heading-line .long-line, .base:hover .heading-line .long-line {
    width: 130px;
    animation: move 1.5s infinite linear; }

@keyframes move {
  100% {
    width: 0; } }

/* wrappers */
.base {
  background: #fff url() 0 0 no-repeat;
  text-align: left; }
  .base > hgroup:nth(1),
  .base > section:nth(1),
  .base > article:nth(1),
  .base > blockquote:nth(1),
  .base > form:nth(1),
  .base > aside:nth(1),
  .base > nav:nth(1) {
    margin: 0 auto; }
  .venge .base {
    color: #fff; }
  .adajio .base {
    color: #fff; }

.offer-money_back, .offer-coaching, .offer-learn_html, .offer-about, .offer-free, .offer-testimonials {
  padding: 120px 0; }

.offer-money_back {
  background: url("../img/background-element.png") center center repeat; }

.offer-coaching {
  background: url("../img/pattern-bg-olive.jpg") center center repeat; }

.offer-learn_html {
  background: url("../img/05-1.jpg") center center repeat; }

.offer-about {
  background: url("../img/bg-boxed-black.jpg") center center repeat; }

.offer-free {
  background: url("../img/pattern-bg-gray.jpg") center center repeat; }

.offer-testimonials {
  background: url("../img/pattern-bg-lightgray.jpg") center center repeat; }

.subscribe {
  position: relative;
  padding: 0;
  overflow: hidden;
  background: #3cb878; }
  .subscribe .decor img {
    position: absolute; }
    .subscribe .decor img.mail {
      left: 0;
      bottom: 0; }
    .subscribe .decor img.mail-2 {
      right: 20px;
      bottom: -50px; }
    .subscribe .decor img.gear {
      right: 0;
      top: 50px; }

/* --- 404.hbs --- */
.page-not-found {
  padding: 350px 0 510px;
  background: #F7F9F9; }

/* --- about.hbs --- */
.content-about_us {
  padding: 120px 0 0; }

.promo-possible_future {
  padding: 0; }

.content-about_us,
.promo-possible_future {
  background: #ffffff; }

.about-our_mission {
  padding: 120px 0;
  background: #ff9700; }

.about-our_team {
  padding: 120px 0;
  background: #ffffff; }

.testimonial-slider {
  padding: 120px 0; }

.corporate_training {
  padding: 120px 0;
  background: #fcb03b; }

/* --- free.hbs --- */
.about-consideration_time {
  padding: 120px 0;
  background: #ffffff; }

.promo-download_now {
  padding: 80px 0;
  background: url("../img/bg-boxed-blue.jpg") center center repeat; }

/* --- individual.hbs --- */
.personal_coaching {
  padding: 100px 0 0;
  background: #ffffff; }

.order_coaching {
  padding: 120px 0;
  background: url("../img/bg-boxed-black.jpg") center center repeat; }

.testimonial-section {
  padding: 120px 0;
  background: #ffffff; }

/* --- it-professions.hbs --- */
.sale-you,
.sale-it {
  padding: 120px 0; }

.sale-need {
  padding: 0; }

.sale-you, .sale-need, .sale-it {
  background: #ffffff; }

.testimonials-promo {
  padding: 120px 0 80px;
  background: #fcb03b; }

.promo-our_courses {
  padding: 120px 0 30px;
  background: #ffffff; }

/* --- learn_html.hbs --- */
.it_education-job {
  padding: 120px 0;
  background: #f7f9f9; }

.order_education {
  padding: 130px 0 200px;
  background: #2f2c2c; }

.it_education-author {
  padding: 120px 0;
  background: #ffffff; }

.it_education-description {
  padding: 0;
  background: #f7f9f9; }

.it_education-price {
  padding: 80px 0 120px;
  background: #f7f9f9; }

.counter_red {
  padding: 120px 0;
  background: url("../img/bg-boxed-red.jpg") center center repeat; }

.it_education-lessons {
  padding: 120px 0;
  background: #ffffff; }

.testimonials-slider {
  padding: 120px 0 80px; }
  .testimonials-slider.testi-1 {
    background: #fcb03b; }
  .testimonials-slider.testi-2 {
    background: url("../img/bg-boxed-dark.jpg") center center repeat; }

.it_education-advantages {
  padding: 120px 0;
  background: #f7f9f9; }

.it_education-faq {
  padding: 120px 0 80px;
  background: #f7f9f9; }

/* --- testimonials.hbs --- */
.counter_green {
  padding: 80px 0;
  background: #3cb878; }
