<article class="content{{#if class}} {{class}}{{/if}}">
	
	{{!-- можно сверить дизайн, сделав все блоки видимыми --}}
	{{#ifCond class 'author'}}
		<span class="title">Автор курса</span>
		<figure><img src="" alt="Автор курса"></figure>
	{{/ifCond}}

	{{#if title.length}}<h2>{{title}}</h2>{{/if}}

	{{#ifCond class 'author'}}
		<div class="detales">
			{{>elements/rating}}
			<a href="#">3 пользователя оценили Автора</a>
		</div>
	{{/ifCond}}

	{{#if text.length}}{{{text}}}{{/if}}

</article>