<section class="preview{{#if class}} {{class}}{{/if}}">
	
	{{#ifCond class 'course'}}
		<figure><img src="{{img}}" alt=""></figure>
	{{/ifCond}}

	{{#if title.length}}<h3>{{title}}</h3>{{/if}}
	{{#if text.length}}<p>{{text}}</p>{{/if}}

	{{#ifCond class 'course_modul'}}

	{{/ifCond}}
	
	{{#ifCond class 'course'}}
		<a href="#"><i class="seoicon-right-arrow"></i></a>
	{{/ifCond}}

	{{#ifCond class 'team_member'}}

	{{/ifCond}}

</section>