<form class="form{{#if class}} {{class}}{{/if}}">

	{{#ifCond class 'free'}}
    {{!-- order_coaching --}}
    <div class="row">
		<div class="col-md-12">
			<label for="">Ссылка на архив с портфолио + резюме<abbr class="required" title="необходимо заполнить">*</abbr></label>
			<span>
				<input id="" type="text">
			</span>
		</div>
    </div>
    {{/ifCond}}

    {{#ifCond class 'start'}}
	{{!-- order_education --}}
    <div class="row">
        <div class="col-md-12">
            <input type="text" placeholder="Как к вам обращаться?">
        </div>
        <div class="col-md-12">
            <input type="text" placeholder="Ваш e-mail">
        </div>
    </div>
	<div class="row">
		<div class="col-md-12">
    		<button class="btn">записаться</button>
    	</div>
    </div>
	{{/ifCond}}

	{{#ifCond class 'coaching'}}
    {{!-- subscribe --}}
	<div class="row"></div>
	{{/ifCond}}

	{{#ifCond class 'subscribe'}}
	{{!-- try_free --}}
	<div class="row"></div>
	{{/ifCond}}

</form>



