{{#extend 'base'}}
	{{#content 'wr'}}

		<div class="offer-free">
			<div class="container">

				<div class="row">
					<div class="col-md-12">
						<!-- Заголовок -->
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<!-- Форма -->
					</div>
				</div>
			</div>
		</div>

		<div class="about-consideration_time">
			<div class="container">

				<div class="row">
					<div class="col-lg-10 offset-lg-1 col-md-10 offset-lg-1 col-sm-12">
						
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<img src="img/marketing.png" alt="marketing">
					</div>
				</div>

			</div>
		</div>

		<div class="promo-download_now">
			<div class="container">
				<div class="row">
					<div class="col-md-9"></div>
					<div class="col-md-3"></div>
				</div>
			</div>
		</div>

		<div class="testimonial-slider">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2"></div>
				</div>
			</div>
		</div>

	{{/content}}
{{/extend}}