{{#extend 'base'}}
	{{#content 'wr'}}

		<div class="offer-testimonials">
			<div class="container">
				<div class="row">
					<div class="col-md-12"></div>
				</div>
			</div>
		</div>

		<div class="counter_green">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"></div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"></div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"></div>
					<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12"></div>
				</div>
			</div>
		</div>

		<div class="testimonial-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6"></div>
					<div class="col-lg-6 col-md-6"></div>
				</div>
			</div>
		</div>

	{{/content}}
{{/extend}}