<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/crumina-fonts.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<link rel="stylesheet" type="text/css" href="temp/scrub.css">

	<title></title>

	<!-- counters_head -->
</head>
<body class="of-hidden scrub-transition">
	<!-- counters_open-body -->

	<!-- overflow Z-INDEX:10:2147483647:16777271 -->
	<div class="preloader"></div>

	<!-- application -->
	<div class="app">

		<!-- header -->
		{{#block 'header'}}
			{{> extra/header}}
		{{/block}}


		<!-- content -->
		{{#block 'wr'}}

		{{/block}}


		<!-- footer -->
		{{#block 'footer'}}
			{{> extra/footer}}
		{{/block}}
	</div>

	<!-- popups -->
	<div class="popups">
		{{#block 'popups'}}{{/block}}

		<div class="overlay"></div>
	</div>

	<!-- JS -->
	<script src="js/vendor/libs.min.js"></script>

	{{!-- КАРУСЕЛЬ АХТУНГ --}}
	<script type="text/javascript" src="temp/jquery.flexslider-min.js"></script>
	<script type="text/javascript" src="temp/masonry.pkgd.min.js"></script>
	<script type="text/javascript" src="temp/jquery.countdown.min.js"></script>
	<script type="text/javascript" src="temp/scrub.js"></script>
	<script type="text/javascript" src="temp/feelform.min.js"></script>
	<script type="text/javascript" src="temp/main.js"></script>

	<script src="js/main.js"></script>

	<script>
		$(window).load(function() {
			$('.preloader').hide(); 
			$('body').removeClass('of-hidden');
			$('.offer-learn_html').addClass('animatedOffer');
		});
	</script>

	<!-- counters_close-body -->
	{{>counters}}
</body>
</html>