<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	
	<!-- CSS -->

	<title></title>

	<!-- counters_head -->
</head>
<body>
	<!-- counters_open-body -->
	
	<!-- overflow Z-INDEX:10:2147483647:16777271 -->
	<div class="preloader"></div>
	
	<!-- application -->
	<div class="app">

		<!-- header -->
		{{#block 'header'}}
			{{> modules/header}}
		{{/block}}
		

		<!-- content -->
		{{#block 'wr'}}
			
		{{/block}}
		
		
		<!-- footer -->
		{{#block 'footer'}}
			{{> modules/footer}}
		{{/block}}
	</div>
	
	<!-- popups -->
	<div class="popup">
		{{#block 'popups'}}

		{{/block}}
	</div>

	<!-- JS -->

	<!-- counters_close-body -->
</body>
</html>