<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/crumina-fonts.css">
	<link rel="stylesheet" type="text/css" href="css/fonts.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">

	<title></title>

	<!-- counters_head -->
</head>
<body>
	<!-- counters_open-body -->

	<!-- overflow Z-INDEX:10:2147483647:16777271 -->
	<div class="preloader"></div>

	<!-- application -->
	<div class="app">

		<!-- header -->
		{{#block 'header'}}
			{{> extra/header}}
		{{/block}}


		<!-- content -->
		{{#block 'wr'}}

		{{/block}}


		<!-- footer -->
		{{#block 'footer'}}
			{{> extra/footer}}
		{{/block}}
	</div>

	<!-- popups -->
	{{!-- <div class="popup">
		{{#block 'popups'}}

		{{/block}}
	</div> --}}

	<!-- JS -->
	<script src="js/vendor/jquery.min.js"></script>
	<script src="js/main.js"></script>

	<!-- counters_close-body -->
</body>
</html>
