<section class="info-author">
	<span>Автор курса</span>
	<figure><img src="" alt=""></figure>
	<h3>{{author.name}}</h3>
	<div class="grade">
		<ul class="rating"></ul>
		<a href="#">3 пользователя оценили Автора</a>
	</div>
	<p>{{author.about}}</p>
	<a href="#" class="btn">Задать вопрос автору <i></i><span></span></a>
</section>